---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bootstrap/bootstrap';

html * {
   font-family: "Lato", Calibri, Arial, sans-serif !important;
}

p{
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

.red {color: red;}
.blue {color: blue;}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
.venue{
  padding-top: 1em;
}

.main-news{
  padding-bottom: 2.5em;
}

.tag.is-success {
  background-color: #23d160;
  color: #fff;
  float:right !important;
}

.tag.is-danger {
  background-color: #f14668;
  color: #fff;
  float:right !important;
}

.tag {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 290486px;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 1.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: .875em;
  padding-right: .875em;
  vertical-align: top;
  white-space: nowrap;
}

blockquote{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.0em 10px;
  padding: .5em .5em 0.05em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-weight: bold;
}

.call-outer {
   overflow: hidden !important;
   position: relative !important;
 }

 .call-inner {
   position: absolute !important;
   height: 100px !important;
   width: 100px !important;
   right: -50px !important;
   top: 50px !important;
 }

.logo_pr {
    padding-left: 1.5em;
}

.logo_alg {
    text-align: center !important;
}

.purpose-blockquote {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
  border-radius: 15px 50px;
  border-style: groove;
  font-weight: bold;
  font-style: italic;
  font-size: 18px !important;
  box-sizing: inherit;
}
