.t_schedule {
  table-layout: fixed !important;
  width: 100% !important;
}

.time {
  width: 5.5% !important;
}

.hour {
  width: 10% !important;
}

.size {
  width: 13.5% !important;
  font-size: 13px;
}

.f_title {
  font-size: 13px;
  text-align: center;
}

.tg .header_top {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-bottom: none !important;
  padding-bottom: 20px !important;
}

.tg .header_mid {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-top: none !important;
  border-bottom: none !important;
  padding-top: 0;
  padding-bottom: 0;
}

.tg .header_bot {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-top: none !important;
  padding-top: 10px;
}

.c_color {
  color: #444;
}

.c_pad {
  padding-top: 0;
  padding-bottom: 0;
}

.n_space {
  display: block;
  margin-top: 5px;
}

.author {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.title {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #9ABAD9;
}

.tg td {
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #444;
  background-color: #EBF5FF;
}

.tg th {
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #fff;
  background-color: #409cff;
}

.tg .track-1_color {
  background-color: #e0e698;
}

.tg .track-2_color {
  background-color: #9aff99;
}

.tg .track-3_color {
  background-color: #cbcefb;
}

.tg .track-4_color {
  background-color: #ffccc9;
}

.tg .track-5_color {
  background-color: #ffce93;
}

.tg .track-6_color {
  background-color: #dda0dd;
}

.tg .track-7_color {
  background-color: #c3b091;
}

.tg .wikimedia_color {
  background-color: #ffccc9;
}

.tg .haskell_color {
  background-color: #ffffc7;
}

.tg .gnome_color {
  background-color: #ffce93;
}

.tg .interferencias_color {
  background-color: #dda0dd;
}

.tg .andalugeeks_color {
  background-color: #c3b091;
}

.tg .border_only {
  border-bottom: solid !important;
  border-color: #ffffff !important;
  border-width: thin !important;
}

.tg .top_only {
  border-top: solid !important;
  border-color: #ffffff !important;
  border-width: thin !important;
}

.tg .no_border_only {
  border-bottom: none !important;
  border-top: none !important;
}

.tg .no_bottom_only {
  border-bottom: none !important;
}

.tg .no_top_only {
  border-bottom: none !important;
}

.solo {
  vertical-align: middle !important;
}

.solo_hour {
  vertical-align: text-top !important;
  text-align: right !important;
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 14px !important;
}

.solo_links {
  vertical-align: text-top !important;
  text-align: center !important;
  padding-bottom: 10px !important;
}

.tg .track_top {
  vertical-align: text-top;
  text-align: left;
  border-bottom: none;
  font-weight: bold;
  font-family: 'Lato', Calibri, Arial, sans-serif !important;
  padding: 20px;
  border-color: #ffffff;
}

.tg .track_mid {
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
}

.tg .track_bot {
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 20px;
  border-top: none;
  border-color: #ffffff;
}

.tg .track_double {
  border-color: #ffffff;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
}

.tg .track-2_top {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .track-2_mid {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .track-2_bot {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .track-3_mid {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .track-3_bot {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .dev-web {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .dev-web_top {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .dev-web_mid {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .dev-web_bot {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .social {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .social_top {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .social_mid {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .social_bot {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .bd-ml {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .bd-ml_top {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .bd-ml_mid {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .bd-ml_bot {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .floss-uni {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .floss-uni_top {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .floss-uni_mid {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .floss-uni_bot {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .inf-mat {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .inf-mat_top {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .inf-mat_mid {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .inf-mat_bot {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

/*
.talk:hover,
.talk:focus {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  transform: translateY(-0.25em);
}
*/
.tg .hour {
  font-weight: bold;
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.hour-borders {
  border-top-style: dotted !important;
  border-bottom-style: dotted !important;
  border-top-color: black !important;
  border-bottom-color: black !important;
  border-width: 2px !important;
}

.tg .breaks {
  font-weight: bold;
  background-color: #e5113f;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .reunion {
  font-weight: bold;
  background-color: #11e5a5;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .empty {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.tg .blank {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .header {
  font-weight: bold;
  background-color: #e5113f;
  border-color: #ffffff;
  text-align: center
}

.tg .plenary {
  font-weight: bold;
  background-color: #0066CC;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tg .start {
  font-weight: bold;
  background-color: #0066CC;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.undertitle {
  margin: 6px auto;
  width: 100%;
  line-height: 10;
  border-top: 5px solid #e5113f;
}

.speaker-photo {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.speaker-header {
  display: flex;
}

.speaker-header div:not([class*="flex"]) {
  border: 1px solid white;
}

.speaker-text {
  background-color: #e9ecef;
  margin-top: 1em;
  padding: 1.5em;
}

.speaker-img {
  max-width: 100%;
  height: auto;
  width: auto
}

.speaker-name {
  padding: 0.2em;
  height: 2.7em;
  background-color: #e9ecef;
  font-size: 2vw;
}

.speaker-name-large {
  padding: 0.2em;
  height: 2.7em;
  background-color: #e9ecef;
  font-size: 1.4vw;
}

.box {
  width: 100%;
  text-align: center;
  margin: auto;
}

.images {
  margin: 1em;
  max-width: 40%;
}

.images-big {
  margin: 1em;
  max-width: 65%;
}

.images-small {
  margin: 1em;
  max-height: 105px;
}

.images-collab {
  margin: 1em;
  max-height: 90px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  padding-right: 10px;
  padding-bottom: 10px;
  max-height: 120px;
  height: auto;
  width: auto;
}

.main-header {
  padding-top: 0.5em;
}

.main-container {
  padding-bottom: 10em;
}
