---
layout: 2023/default
section: propuestas
permalink: /2023/enviar/salas
title: Propuestas de salas - esLibre 2023
description: ¡Organiza tu propia sala en esLibre 2023!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2023 - Propuestas de salas</h1>

<p align="center">
    <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2023/propuestas/">"Envío de propuestas"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
    <form id="create-talks" role="form" action="https://edp.eslib.re/form/devrooms-es" method="post">
        <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
                <li>Los campos marcados como (*) son obligatorios</li>
                <li>Por favor, no uséis en vuestras propuestas recursos de Google, Microsoft o, en general, cualquier empresa poco respetuosa con la privacidad de las personas o la soberanía tecnológica</li>
                <li>Recordad que para cualquier duda puedes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
                </ul>
            </span></div>
        <div class="form-group"> <strong><label class="label-forms-text" for="title">Título (*):</label></strong>
            <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
                required="required" class="form-control">
        </div>
        <div class="form-group"><strong><label for="description">Descripción de la sala (*):</label></strong>
            <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="description" cols="40" rows="5" maxlength="5000"
                style="resize:none; overflow-y: scroll;" aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block"
                class="form-text text-muted">Explicación de la temática de la
                sala y la motivación para organizarla. Tened en cuenta que la idea de la sala es realizar una actividad semiautónoma dentro de <strong>es<span class="red">Libre</span></strong>, que tendrá normalmente petición de propuestas propia,
                equipo de organización propio, horario propio
                (coordinado con <strong>es<span class="red">Libre</span></strong>)...</span>
        </div>
        <div class="form-group"><strong><label for="community_name">Comunidad que propone la sala (*):</label></strong>
            <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
                onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
        </div>
        <div class="form-group"><strong><label for="community_description">Info sobre vuestra comunidad (*):</label></strong>
            <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
                style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
                id="community_description-help-block" class="form-text text-muted">Información sobre el grupo que propone la organización de la sala, así como otras actividades organizadas. Sería conveniente indicar también las personas que van a
                estar
                encargadas de la misma.</span>
        </div>
        <div class="form-group"><strong><label for="web">Web de la comunidad (*):</label></strong>
            <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
                onkeyup="counterDisplay(this, 'web', true)" required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Página con información sobre el grupo que propone organizar la sala.</span>
        </div>
        <div class="form-group"><strong><label for="target">Público objetivo (*):</label></strong>
            <div id="target-counter-tag" class="tag is-danger"><span id="target-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="target" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
                aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', true)" required="required" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted">¿A
                quién crees que podría resultarle interesante este tema (utilidad, campos relacionados, posibilidades...)?</span>
        </div>
        <div class="form-group"><strong><label for="format">Formato de la sala (*):</label></strong>
            <div id="format-counter-tag" class="tag is-danger"><span id="format-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="format" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
                aria-describedby="format-help-block" onkeyup="counterDisplay(this, 'format', true)" required="required" class="form-control"></textarea><span id="format-help-block" class="form-text text-muted">Formato de la sala y cómo se va a hacer
                la
                solicitud de propuestas. El formato se deja totalmente abierto a decisión de la organización de la sala, pudiendo incluir: talleres, charlas cortas/largas, mesas redondas, hackathones...<br><strong>IMPORTANTE</strong>: incluir también
                la
                duración que tendría
                (desde dos horas hasta un día entero) y el día que preferís realizarla (viernes o sábado).</span>
        </div>
        <div class="form-group"><strong><label for="mastodon">Mastodon (u otras redes sociales libres):</label></strong>
            <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
                onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Cualquier perfil en una red social libre es válido, pero recordad introducir la URL
                completa para conocer también la instancia en la que os encontráis para que os podamos encontrar.</span>
        </div>
        <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
            <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
                onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Indicad solo el nombre en Twitter.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (u otra forja) o portfolio general:</label></strong>
            <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="url" maxlength="255" aria-describedby="gitlab-help-block"
                onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Cualquier sitio de código colaborativo donde tengáis proyectos que querrías compartir.</span>
        </div>
        <div class="form-group"><strong><label for="contact">Persona de contacto (*):</label></strong>
            <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
                required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Persona que hará de contacto directo con la organización.</span>
        </div>
        <div class="form-group"><strong><label for="email">Email de contacto (*):</label></strong>
            <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
                required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Correo para comunicarnos con vosotros (no será público).</span>
        </div>
        <div class="form-group"><strong><label for="comments">Comentarios:</label></strong>
            <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="comments" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
                aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Cualquier otro comentario relevante para la
                organización.</span>
        </div>
        <div class="call-outer">
            <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
                <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Aceptamos seguir el <a href="/conducta" target="_blank">código de
                            conducta</a>
                        durante nuestra participación en el congreso (*)</label></div>
            </div>
        </div>
        <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
    </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
