---
layout: 2024/default
section: horario
permalink: /2024/horario/
title: esLibre 2024 - Horario
---

<h1 class="mt-3">
  Horario
</h1>

<p align="center">
  <cite style="color: black;"><strong>IMPORTANTE:</strong> Recuerda que si te interesa asistir a la edición de este año,
    debes registrarte en <a href="https://eslib.re/2024/asistir" target="_blank">esta página</a><br>(sobre todo si
    quieres participar en alguno de los talleres, que tienen sus propios registros individuales)</cite>
</p>

<h2 class="mt-3">
  Viernes 24
</h2>

<div class="schedule-fri" aria-labelledby="schedule-heading">

  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">La Mutant</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Factoría (Las
    Naves)</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Polivalent (Las
    Naves)</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Visual Room (Las
    Naves)</span>

  <h2 class="time-slot" style="grid-row: time-0900;">09:00</h2>
  <h2 class="time-slot" style="grid-row: time-0930;">09:30</h2>
  <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>
  <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>
  <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>
  <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>
  <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>
  <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>
  <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>
  <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>
  <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>
  <h2 class="time-slot" style="grid-row: time-1530;">15:30</h2>
  <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>
  <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>
  <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>
  <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>
  <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>
  <h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>
  <h2 class="time-slot" style="grid-row: time-1900;">19:00</h2>
  <h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>
  <h2 class="time-slot" style="grid-row: time-2000;">20:00</h2>
  <h2 class="time-slot" style="grid-row: time-2130;">21:30</h2>

  <div class="session session-A track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-0900 / time-0930;">
    <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
  </div>

  <div class="session session-B track-all"
    style="grid-column: track-1-start / track-4-end; grid-row: time-0930 / time-1000;">
    <h3 class="session-title" style="text-align: center !important;">PRESENTACIÓN DEL CONGRESO (LA MUTANT)
    </h3>
  </div>

  <div class="session session-C track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1130 / time-1200;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <div class="session session-D track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1400 / time-1530;">
    <h3 class="session-title">COMIDA</h3>
  </div>

  <div class="session session-F track-all-break"
    style="grid-column: track-1-start / track-2-end; grid-row: time-1800 / time-1830;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <div class="session session-G0 track-all-break" style="grid-column: track-3; grid-row: time-1815 / time-1830;">
    <h3 class="session-title">DESCANSO AKADEMY-ES / FOTO GRUPO</h3>
  </div>
  
  <div class="session session-G track-all-break" style="grid-column: track-4; grid-row: time-1730 / time-1745;">
    <h3 class="session-title">DESCANSO WIKIMEDIA ESPAÑA</h3>
  </div>

  <div class="session session-H track-all"
    style="grid-column: track-1-start / track-4-end; grid-row: time-2000 / time-2130;">
    <h3 class="session-title" style="text-align: center !important;">PASEO FOTOGRÁFICO CON WIKIMEDIA ESPAÑA <span
        class="session-title"><strong><a
            href="https://eventos.librelabgrx.cc/events/11561281-1f9e-4dc7-ace4-81535856b7d7" target="_blank">[RESERVAR
            PLAZA]</a></strong></span>
    </h3>
  </div>

  <!-- TRACK 1 -->

  <div class="session session-1 track-1" style="grid-column: track-1; grid-row: time-1000 / time-1020;">
    <h3 class="session-title">¿Ciberresiqué?<a href="https://propuestas.eslib.re/2024/charlas/ciberresique"
        target="_blank"></a></h3>
    <span class="session-speaker">Iván Sánchez Ortega</span>
    <span class="session-time">10:00 - 10:20</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/ciberresique"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2 track-1" style="grid-column: track-1; grid-row: time-1025 / time-1100;">
    <h3 class="session-title">Domotizando espacios con hardware y software libre: una propuesta didáctica<a
        href="https://propuestas.eslib.re/2024/charlas/domotizando-espacios-hardware-software-libre"
        target="_blank"></a></h3>
    <span class="session-speaker">Ismail Ali Gago</span>
    <span class="session-time">10:25 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/domotizando-espacios-hardware-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-1105 / time-1130;">
    <h3 class="session-title">Aventuras fotovoltaicas con FreeDS, HomeAssistant y KiCad<a
        href="https://propuestas.eslib.re/2024/charlas/aventuras-fotovoltaicas-freeds-homeassistant-kicad"
        target="_blank"></a></h3>
    <span class="session-speaker">Iván Sánchez Ortega, César Sánchez Ortega</span>
    <span class="session-time">11:05 - 11:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/aventuras-fotovoltaicas-freeds-homeassistant-kicad"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1220;">
    <h3 class="session-title">Responsabilidad climática en el software libre<a
        href="https://propuestas.eslib.re/2024/charlas/responsabilidad-climatica-software-libre" target="_blank"></a>
    </h3>
    <span class="session-speaker">Alien</span>
    <span class="session-time">12:00 - 12:20</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/responsabilidad-climatica-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-1225 / time-1245;">
    <h3 class="session-title">Acoords: una herramienta open source para la toma colaborativa de actas<a
        href="https://propuestas.eslib.re/2024/charlas/acoords-herramienta-toma-colaborativa-actas" target="_blank"></a>
    </h3>
    <span class="session-speaker">Coopdevs</span>
    <span class="session-time">12:25 - 12:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/acoords-herramienta-toma-colaborativa-actas"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6b track-1" style="grid-column: track-1; grid-row: time-1250 / time-1305;">
    <h3 class="session-title">Construyendo un ecosistema de dispositivos e-ink de hardware libre<a
        href="https://propuestas.eslib.re/2024/charlas/construyendo-dispositivos-eink-hardware-libre"
        target="_blank"></a></h3>
    <span class="session-speaker">Alexander Soto</span>
    <span class="session-time">12:50 - 13:05</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/construyendo-dispositivos-eink-hardware-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>
  
  <div class="session session-6c track-1" style="grid-column: track-1; grid-row: time-1310 / time-1325;">
    <h3 class="session-title">Maza ad blocking: bloqueando publicidad nativamente<a
      href="https://propuestas.eslib.re/2024/charlas/maza-adblocking-bloqueando-publicidad-nativamente"
      target="_blank"></a></h3>
  <span class="session-speaker">Andros Fenollosa</span>
  <span class="session-time">13:10 - 13:25</span><br>
  <span class="session-speaker">
    <a href="https://propuestas.eslib.re/2024/charlas/maza-adblocking-bloqueando-publicidad-nativamente"><img
        src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </span>
</div>

  <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1330 / time-1350;">
    <h3 class="session-title">Dédalo: software libre para la gestión de Patrimonio Cultural<a
        href="https://propuestas.eslib.re/2024/charlas/dedalo-software-libre-gestion-patrimonio-cultural"
        target="_blank"></a></h3>
    <span class="session-speaker">Alejandro Peña Carbonell, Juan Francisco Onielfa Veneros</span>
    <span class="session-time">13:30 - 13:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/dedalo-software-libre-gestion-patrimonio-cultural"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1530 / time-1555;">
    <h3 class="session-title">Desplegar y gestionar clusters de Kubernetes con Rancher y Cluster API<a
        href="https://propuestas.eslib.re/2024/charlas/desplegar-gestionar-clusters-kubernetes-rancher-cluster-api"
        target="_blank"></a></h3>
    <span class="session-speaker">Andres Valero</span>
    <span class="session-time">15:30 - 15:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/desplegar-gestionar-clusters-kubernetes-rancher-cluster-api"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-1" style="grid-column: track-1; grid-row: time-1600 / time-1620;">
    <h3 class="session-title">Despliegue automático de una arquitectura business intelligence libre con Ansible<a
        href="https://propuestas.eslib.re/2024/charlas/despliegue-automatico-arquitectura-business-intelligence-ansible"
        target="_blank"></a></h3>
    <span class="session-speaker">Jordi Isidro Llobet</span>
    <span class="session-time">16:00 - 16:20</span><br>
    <span class="session-speaker">
      <a
        href="https://propuestas.eslib.re/2024/charlas/despliegue-automatico-arquitectura-business-intelligence-ansible"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1625 / time-1645;">
    <h3 class="session-title">Experiencias con software libre en Ecuador<a
        href="https://propuestas.eslib.re/2024/charlas/experiencias-software-libre-ecuador" target="_blank"></a></h3>
    <span class="session-speaker">Leduin José Cuenca Macas</span>
    <span class="session-time">16:25 - 16:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/experiencias-software-libre-ecuador"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10b track-1" style="grid-column: track-1; grid-row: time-1650 / time-1705;">
    <h3 class="session-title">Youth Hacking 4 Freedom: la competición de programación gratuita para jóvenes europeos<a
        href="https://propuestas.eslib.re/2024/charlas/youth-hacking-4-freedom" target="_blank"></a></h3>
    <span class="session-speaker">Ana Galán</span>
    <span class="session-time">16:50 - 17:05</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/youth-hacking-4-freedom"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-1" style="grid-column: track-1; grid-row: time-1710 / time-1730;">
    <h3 class="session-title">Gestionando Linux en edge con y sin Kubernetes<a
        href="https://propuestas.eslib.re/2024/charlas/gestionando-linux-edge-con-sin-kubernetes" target="_blank"></a>
    </h3>
    <span class="session-speaker">Andrés Valero</span>
    <span class="session-time">17:10 - 17:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/gestionando-linux-edge-con-sin-kubernetes"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1735 / time-1755;">
    <h3 class="session-title">Herramientas de benchmarks para evaluar el rendimiento en máquinas y aplicaciones<a
        href="https://propuestas.eslib.re/2024/charlas/herramientas-benchmarks-rendimiento-maquinas-aplicaciones"
        target="_blank"></a></h3>
    <span class="session-speaker">Jose Manuel Ortega</span>
    <span class="session-time">17:35 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/herramientas-benchmarks-rendimiento-maquinas-aplicaciones"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1830 / time-1850;">
    <h3 class="session-title">Inteligencia artificial en plataformas de colaboración: una visión ética<a
        href="https://propuestas.eslib.re/2024/charlas/inteligencia-artificial-plataformas-colaboracion"
        target="_blank"></a></h3>
    <span class="session-speaker">Pietro Marini</span>
    <span class="session-time">18:30 - 18:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/inteligencia-artificial-plataformas-colaboracion"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-14 track-1" style="grid-column: track-1; grid-row: time-1855 / time-1915;">
    <h3 class="session-title">La importancia del software libre en educación: el caso de LearningML<a
        href="https://propuestas.eslib.re/2024/charlas/importancia-software-libre-educacion-learningml"
        target="_blank"></a></h3>
    <span class="session-speaker">Juan David Rodríguez García</span>
    <span class="session-time">18:55 - 19:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/importancia-software-libre-educacion-learningml"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-14b track-1" style="grid-column: track-1; grid-row: time-1920 / time-1930;">
    <h3 class="session-title">Proyecto GLAM Levante UD: liberando el patrimonio bajo licencias libres<a
        href="https://propuestas.eslib.re/2024/charlas/proyecto-glam-levante-ud-liberando-patrimonio-licencias-libres"
        target="_blank"></a></h3>
    <span class="session-speaker">Francesc Fort, Emilio Nadal</span>
    <span class="session-time">19:20 - 19:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/proyecto-glam-levante-ud-liberando-patrimonio-licencias-libres"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1935 / time-1945;">
    <h3 class="session-title">Proyecto GLAM TelecomVLC: museo de las telecomunicaciones UPV<a
        href="https://propuestas.eslib.re/2024/charlas/proyecto-glam-telecomvlc-museo-telecomunicaciones"
        target="_blank"></a></h3>
    <span class="session-speaker">Francesc Fort, Carmen Bachiller</span>
    <span class="session-time">19:35 - 19:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/proyecto-glam-telecomvlc-museo-telecomunicaciones"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15b track-1" style="grid-column: track-1; grid-row: time-1950 / time-2000;">
    <h3 class="session-title">Software Heritage: mucho más que el gran archivo mundial de software<a
        href="https://propuestas.eslib.re/2024/charlas/software-heritage-mas-que-archivo-mundial" target="_blank"></a>
    </h3>
    <span class="session-speaker">Agustín Benito Bethencourt</span>
    <span class="session-time">19:50 - 20:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/software-heritage-mas-que-archivo-mundial"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <!-- TRACK 2 -->



  <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-1200 / time-1330;">
    <h3 class="session-title">Elaboración de REA (Recursos Educativos Abiertos) con herramientas de autoría abiertas y
      su publicación en plataformas web<a
        href="https://propuestas.eslib.re/2024/talleres/elaboracion-rea-herramientas-autoria-abiertas"
        target="_blank"></a></h3>
    <span class="session-speaker">Ismail Ali Gago</span>
    <span class="session-time">12:00 - 13:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/elaboracion-rea-herramientas-autoria-abiertas"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/e0d2b9d2-a636-4e9c-a67c-64013bddb19b" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-3 track-2" style="grid-column: track-2; grid-row: time-1330 / time-1400;">
    <h3 class="session-title">Introducción a la programación lógica con Scryer Prolog<a
        href="https://propuestas.eslib.re/2024/talleres/introduccion-programacion-logica-scryer-prolog"
        target="_blank"></a></h3>
    <span class="session-speaker">Adrián Arroyo Calle</span>
    <span class="session-time">13:30 - 14:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/introduccion-programacion-logica-scryer-prolog"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/58bc6af1-4f3d-43b7-975b-14ad4b97d81c" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-4 track-2" style="grid-column: track-2; grid-row: time-1530 / time-1630;">
    <h3 class="session-title">Introducción a la programación lógica con Scryer Prolog (continuación)<a
        href="https://propuestas.eslib.re/2024/talleres/introduccion-programacion-logica-scryer-prolog"
        target="_blank"></a></h3>
    <span class="session-speaker">Adrián Arroyo Calle</span>
    <span class="session-time">15:30 - 16:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/introduccion-programacion-logica-scryer-prolog"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/58bc6af1-4f3d-43b7-975b-14ad4b97d81c" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-5 track-2" style="grid-column: track-2; grid-row: time-1630 / time-1800;">
    <h3 class="session-title">Crear plantillas de documentos profesionales con LibreOffice Writer<a
        href="https://propuestas.eslib.re/2024/talleres/plantillas-documentos-profesionales-libreoffice-writer"
        target="_blank"></a></h3>
    <span class="session-speaker">Gabriele Ponzo</span>
    <span class="session-time">16:30 - 18:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/plantillas-documentos-profesionales-libreoffice-writer"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/2c3cfd46-874e-46d9-9863-c1d8399fb92e" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-1830 / time-2000;">
    <h3 class="session-title">Introducción a seguridad en contenedores<a
        href="https://propuestas.eslib.re/2024/talleres/introduccion-seguridad-contenedores" target="_blank"></a></h3>
    <span class="session-speaker">Mario Vázquez</span>
    <span class="session-time">18:30 - 20:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/introduccion-seguridad-contenedores"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/7c66f584-68ef-4ff3-8c90-85679b2483aa" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <!-- TRACK 3 -->

  <div class="session session-1 track-3" style="grid-column: track-3; grid-row: time-1000 / time-1010;">
    <h3 class="session-title">Crea tu podcast libre, sin esfuerzo ni inversión (eso si, grabar tienes que grabar)<a
        href="https://propuestas.eslib.re/2024/charlas/crea-tu-podcast-libre" target="_blank"></a></h3>
    <span class="session-speaker">Lorenzo Carbonell</span>
    <span class="session-time">10:00 - 10:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/crea-tu-podcast-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2 track-3" style="grid-column: track-3; grid-row: time-1015 / time-1025;">
    <h3 class="session-title">Ecosistema de entornos de conocimiento abierto (ECO2)<a
        href="https://propuestas.eslib.re/2024/charlas/ecosistema-entornos-conocimiento-abierto" target="_blank"></a>
    </h3>
    <span class="session-speaker">María del Carmen Gálvez de la Cuesta</span>
    <span class="session-time">10:15 - 10:25 <strong>[EN REMOTO]</strong></span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/ecosistema-entornos-conocimiento-abierto"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2-b track-3" style="grid-column: track-3; grid-row: time-1030 / time-1040;">
    <h3 class="session-title">RECORDATORIO SOBRE PATROCINADORES<a href="" target="_blank"></a></h3>
    <span class="session-time">10:30 - 10:40</span><br>
  </div>

  <div class="session session-2-b track-3" style="grid-column: track-3; grid-row: time-1045 / time-1130;">
    <h3 class="session-title">MESA REDONDA: ¿Cómo se hace un evento de software libre? + Intercambio de material<a
        href="" target="_blank"></a></h3>
    <span class="session-time">10:45 - 11:30</span><br>
  </div>

  <div class="session session-3a track-3" style="grid-column: track-3; grid-row: time-1200 / time-1205;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Ceremonia de apertura de Akademy-es<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Adrián Chavez</span>
    <span class="session-time">12:00 - 12:05</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>
  
  <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1205 / time-1245;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Craft: la distribución de KDE para plataformas no Linux<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Albert Astals Cid</span>
    <span class="session-time">12:00 - 12:45</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-3" style="grid-column: track-3; grid-row: time-1245 / time-1330;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Python y Qt<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">José Millán Soto</span>
    <span class="session-time">12:45 - 13:30</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-3" style="grid-column: track-3; grid-row: time-1330 / time-1400;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Typst como alternativa a LaTeX y Markdown<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Lorenzo Carbonell (Atareao)</span>
    <span class="session-time">13:30 - 14:00</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-1530 / time-1600;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>¿Qué es KDE España?<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Junta de KDE España</span>
    <span class="session-time">15:30 - 16:00</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-7 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1645;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Pintando con Krita: técnicas de ilustración<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Alien</span>
    <span class="session-time">16:00 - 16:45</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-3" style="grid-column: track-3; grid-row: time-1645 / time-1730;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Cómo puedes utilizar OSS KB para desarrollar KDE<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Agustín Benito</span>
    <span class="session-time">16:45 - 17:30</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-3" style="grid-column: track-3; grid-row: time-1730 / time-1815;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>CHARLAS RELÁMPAGO<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker"></span>
    <span class="session-time">17:30 - 18:15</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1830 / time-1915;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>Mirando más allá de Plasma 6<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Aleix Pol i Gonzàlez</span>
    <span class="session-time">18:30 - 19:15 <strong>[EN REMOTO]</strong></span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-3" style="grid-column: track-3; grid-row: time-1915 / time-2000;">
    <h3 class="session-title">[AKADEMY-ES 2024]<br><br>10 cosas que no sabías que podías hacer (o sí) en Plasma 6<a
        href="https://www.kde-espana.org/programa-akademy-es-2024" target="_blank"></a></h3>
    <span class="session-speaker">Baltasar Ortega Bort</span>
    <span class="session-time">19:15 - 20:00</span><br>
    <span class="session-speaker">
      <a href="https://www.kde-espana.org/programa-akademy-es-2024"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <!-- TRACK 4 -->

  <div class="session session-1 track-4" style="grid-column: track-4; grid-row: time-1000 / time-1130;">
    <h3 class="session-title">Taller de kataficación de código 100% software libre<a
        href="https://propuestas.eslib.re/2024/talleres/taller-kataficacion-codigo-software-libre" target="_blank"></a>
    </h3>
    <span class="session-speaker">Reynaldo Cordero Corro</span>
    <span class="session-time">10:00 - 11:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/taller-kataficacion-codigo-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/206d6e82-fa1e-49ca-a4bc-983276650fe8" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-1200 / time-1220;">
    <h3 class="session-title">Lemmy es el siguiente eslabón de la evolución... de las comunidades de usuarios<a
        href="https://propuestas.eslib.re/2024/charlas/lemmy-siguiente-eslabon-evolucion-comunidades"
        target="_blank"></a></h3>
    <span class="session-speaker">Juanjo Salvador</span>
    <span class="session-time">12:00 - 12:20</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/lemmy-siguiente-eslabon-evolucion-comunidades"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-4" style="grid-column: track-4; grid-row: time-1225 / time-1400;">
    <h3 class="session-title">Reparando tu ordenador portátil de cualquier marca por Slimbook<a
        href="https://propuestas.eslib.re/2024/talleres/reparando-ordenador-portatil-cualquier-por-slimbook"
        target="_blank"></a></h3>
    <span class="session-speaker">Alejandro López</span>
    <span class="session-time">12:25 - 14:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/reparando-ordenador-portatil-cualquier-por-slimbook"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/efca2c8b-cc1a-4807-ae33-f62436295d2f" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1530 / time-1550;">
    <h3 class="session-title">Oniro: cómo desarrollar un OS open source global multientorno e impulsar su adopción a
      través de la cooperación entre fundaciones FOSS<a
        href="https://propuestas.eslib.re/2024/charlas/oniro-desarrollar-os-open-source-global-multientorno"
        target="_blank"></a></h3>
    <span class="session-speaker">Juan Rico</span>
    <span class="session-time">15:30 - 15:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/oniro-desarrollar-os-open-source-global-multientorno"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1645;">
    <h3 class="session-title">[WIKIMEDIA ESPAÑA]<br><br>Investigación al servicio de lxs desarrolladorxs de Wikimedia<a
        href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre" target="_blank"></a></h3>
    <span class="session-speaker">Pablo Aragón</span>
    <span class="session-time">16:00 - 16:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-1645 / time-1730;">
    <h3 class="session-title">[WIKIMEDIA ESPAÑA]<br><br>Herramientas para traducir Wikipedia<a
        href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre" target="_blank"></a></h3>
    <span class="session-speaker">Pau Giner</span>
    <span class="session-time">16:45 - 17:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-7 track-4" style="grid-column: track-4; grid-row: time-1745 / time-1830;">
    <h3 class="session-title">[WIKIMEDIA ESPAÑA]<br><br>Uso y elaboración de galerías gráficas<a
        href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre" target="_blank"></a></h3>
    <span class="session-speaker">Modesto Escobar y Ángel F. Zazo Rodríguez</span>
    <span class="session-time">17:45 - 18:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1830 / time-2000;">
    <h3 class="session-title">[WIKIMEDIA ESPAÑA]<br><br>MINI-HACKATHON<a
        href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre" target="_blank"></a></h3>
    <span class="session-speaker"></span>
    <span class="session-time">18:30 - 20:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/salas/construccion-conocimiento-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/ec67d1e7-17ab-449a-bda5-b13d58267106" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

</div>

<h2 class="mt-3">
  Sábado 25
</h2>

<div class="schedule-sat" aria-labelledby="schedule-heading">

  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">La Mutant</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Factoría (Las
    Naves)</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Polivalent (Las
    Naves)</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Visual Room (Las
    Naves)</span>

  <h2 class="time-slot" style="grid-row: time-0900;">09:00</h2>
  <h2 class="time-slot" style="grid-row: time-0930;">09:30</h2>
  <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>
  <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>
  <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>
  <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>
  <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>
  <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>
  <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>
  <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>
  <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>
  <h2 class="time-slot" style="grid-row: time-1530;">15:30</h2>
  <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>
  <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>
  <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>
  <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>
  <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>
  <h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>
  <h2 class="time-slot" style="grid-row: time-1900;">19:00</h2>
  <h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>
  <h2 class="time-slot" style="grid-row: time-2000;">20:00</h2>

  <div class="session session-A track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-0900 / time-0930;">
    <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
  </div>

  <div class="session session-C track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1130 / time-1200;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <div class="session session-D track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1400 / time-1530;">
    <h3 class="session-title">COMIDA</h3>
  </div>

  <div class="session session-F track-all-break"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1800 / time-1830;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <div class="session session-B track-all"
    style="grid-column: track-1-start / track-4-end; grid-row: time-1935 / time-2000;">
    <h3 class="session-title" style="text-align: center !important;">CLAUSURA DEL CONGRESO (LA MUTANT)
    </h3>
  </div>

  <!-- TRACK 1 -->

  <div class="session session-0 track-1" style="grid-column: track-1; grid-row: time-0930 / time-0950;">
    <h3 class="session-title">Migasfree: hazte la vida facil con Linux<a
        href="https://propuestas.eslib.re/2024/charlas/migasfree-hazte-vida-facil-linux" target="_blank"></a></h3>
    <span class="session-speaker">Eduardo Romero</span>
    <span class="session-time">09:30 - 09:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/migasfree-hazte-vida-facil-linux"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-1 track-1" style="grid-column: track-1; grid-row: time-0955 / time-1015;">
    <h3 class="session-title">Single sign on en LliureX<a
        href="https://propuestas.eslib.re/2024/charlas/single-sign-on-lliurex" target="_blank"></a></h3>
    <span class="session-speaker">Enrique M.G.</span>
    <span class="session-time">09:55 - 10:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/single-sign-on-lliurex"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2 track-1" style="grid-column: track-1; grid-row: time-1020 / time-1030;">
    <h3 class="session-title">Pasado, presente y futuro de EducaMadrid<a
        href="https://propuestas.eslib.re/2024/charlas/pasado-presente-futuro-educamadrid" target="_blank"></a></h3>
    <span class="session-speaker">Adolfo Sanz De Diego</span>
    <span class="session-time">10:20 - 10:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/pasado-presente-futuro-educamadrid"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-1035 / time-1045;">
    <h3 class="session-title">Creación y evolución de software educativo con fondos europeos <a
        href="https://propuestas.eslib.re/2024/charlas/creacion-evolucion-software-educativo-fondos-europeos"
        target="_blank"></a></h3>
    <span class="session-speaker">Juan Tatay Galvany</span>
    <span class="session-time">10:35 - 10:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/creacion-evolucion-software-educativo-fondos-europeos"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-1050 / time-1100;">
    <h3 class="session-title">El papel de las tecnologías libres para reducir el impacto ambiental y social<a
        href="https://propuestas.eslib.re/2024/charlas/papel-tecnologias-libres-reducir-impacto-ambiental"
        target="_blank"></a></h3>
    <span class="session-speaker">José Antonio González Nóvoa, Jorge Lama</span>
    <span class="session-time">10:50 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/papel-tecnologias-libres-reducir-impacto-ambiental"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-1" style="grid-column: track-1; grid-row: time-1105 / time-1125;">
    <h3 class="session-title">Ayudando a la universidad con el Software Libre: mi experiencia en la OSL de la UGR<a
        href="https://propuestas.eslib.re/2024/charlas/ayudando-universidad-con-software-libre" target="_blank"></a>
    </h3>
    <span class="session-speaker">Pablo García Sánchez</span>
    <span class="session-time">11:05 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/ayudando-universidad-con-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1220;">
    <h3 class="session-title">Sostenibilidad del ecosistema tecnológico: el papel crítico de una OSPO<a
        href="https://propuestas.eslib.re/2024/charlas/sostenibilidad-ecosistema-tecnologico-papel-critico-ospo"
        target="_blank"></a></h3>
    <span class="session-speaker">Jose Manrique Lopez de la Fuente</span>
    <span class="session-time">12:00 - 12:20</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/sostenibilidad-ecosistema-tecnologico-papel-critico-ospo"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1225 / time-1245;">
    <h3 class="session-title">Sostenibilidad IT con software libre<a
        href="https://propuestas.eslib.re/2024/charlas/sostenibilidad-it-con-software-libre" target="_blank"></a></h3>
    <span class="session-speaker">Pau Garcia Quiles</span>
    <span class="session-time">12:25 - 12:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/sostenibilidad-it-con-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1250 / time-1300;">
    <h3 class="session-title">Fundación Apereo: al servicio del software libre educativo<a
        href="https://propuestas.eslib.re/2024/charlas/fundacion-apereo-servicio-software-libre-educativo"
        target="_blank"></a>
    </h3>
    <span class="session-speaker">Miguel Pellicer</span>
    <span class="session-time">12:50 - 13:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/fundacion-apereo-servicio-software-libre-educativo"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-1" style="grid-column: track-1; grid-row: time-1305 / time-1325;">
    <h3 class="session-title">Un paseo por la seguridad de GNU/Linux<a
        href="https://propuestas.eslib.re/2024/charlas/paseo-seguridad-gnu-linux" target="_blank"></a></h3>
    <span class="session-speaker">Eloy Pérez González</span>
    <span class="session-time">13:05 - 13:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/paseo-seguridad-gnu-linux"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1330 / time-1350;">
    <h3 class="session-title">Uyuni: la solución de configuración y control de infraestructura open-source para la
      infrastructura definida por software<a
        href="https://propuestas.eslib.re/2024/charlas/uyuni-configuracion-control-infraestructura-software"
        target="_blank"></a></h3>
    <span class="session-speaker">Raúl Osuna Sánchez-Infante</span>
    <span class="session-time">13:30 - 13:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/uyuni-configuracion-control-infraestructura-software"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1555 / time-1615;">
    <h3 class="session-title">Seguridad en documentos PDF: cómo evitar la manipulación y garantizar la autenticidad con
      firmas digitales y software libre<a
        href="https://propuestas.eslib.re/2024/charlas/seguridad-documentos-pdf-evitar-manipulacion"
        target="_blank"></a></h3>
    <span class="session-speaker">Albert Astals Cid</span>
    <span class="session-time">15:55 - 16:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/seguridad-documentos-pdf-evitar-manipulacion"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1620 / time-1640;">
    <h3 class="session-title">WordPress: una de cada dos webs no pueden estar equivocadas<a
        href="https://propuestas.eslib.re/2024/charlas/wordpress-una-cada-dos-webs-no-pueden-estar-equivocadas"
        target="_blank"></a>
    </h3>
    <span class="session-speaker">David Martinez</span>
    <span class="session-time">16:20 - 16:40</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/wordpress-una-cada-dos-webs-no-pueden-estar-equivocadas"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-14 track-1" style="grid-column: track-1; grid-row: time-1645 / time-1705;">
    <h3 class="session-title">¿Y si nos quedamos sin Internet? Desarrollo de la competencia digital offline con
      MAdrid_linuX (MAX)<a href="https://propuestas.eslib.re/2024/charlas/y-si-nos-quedamos-sin-internet-madrid-linux"
        target="_blank"></a></h3>
    <span class="session-speaker">Daniel Esteban Roque</span>
    <span class="session-time">16:45 - 17:05</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/y-si-nos-quedamos-sin-internet-madrid-linux"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1710 / time-1730;">
    <h3 class="session-title">Llama.cpp, Kobold y Oobabooga: modelos de lenguaje grandes locales para programacion y
      escribir ficcion<a
        href="https://propuestas.eslib.re/2024/charlas/llamacpp-kobold-oobabooga-llm-programacion-ficcion"
        target="_blank"></a></h3>
    <span class="session-speaker">jm</span>
    <span class="session-time">17:10 - 17:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/llamacpp-kobold-oobabooga-llm-programacion-ficcion"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-16 track-1" style="grid-column: track-1; grid-row: time-1735 / time-1755;">
    <h3 class="session-title">Software maleable: difuminando la línea entre usuari@ y programador@<a
        href="https://propuestas.eslib.re/2024/charlas/software-maleable-difuminando-linea-usuaria-programadora"
        target="_blank"></a></h3>
    <span class="session-speaker">Sergio Martínez Portela</span>
    <span class="session-time">17:35 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/software-maleable-difuminando-linea-usuaria-programadora"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-17 track-1" style="grid-column: track-1; grid-row: time-1830 / time-1850;">
    <h3 class="session-title">Comunicaciones libres<a
        href="https://propuestas.eslib.re/2024/charlas/comunicaciones-libres" target="_blank"></a></h3>
    <span class="session-speaker">G{á}maliel, Rita Barrachina</span>
    <span class="session-time">18:30 - 18:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/comunicaciones-libres"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-18 track-1" style="grid-column: track-1; grid-row: time-1855 / time-1915;">
    <h3 class="session-title">Ejemplos de uso de análisis de datos avanzados en procesos de producción y entrega de
      software<a
        href="https://propuestas.eslib.re/2024/charlas/ejemplos-analisis-datos-avanzados-produccion-entrega-software"
        target="_blank"></a></h3>
    <span class="session-speaker">Agustín Benito Bethencourt</span>
    <span class="session-time">18:55 - 19:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/ejemplos-analisis-datos-avanzados-produccion-entrega-software"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-19 track-1" style="grid-column: track-1; grid-row: time-1920 / time-1930;">
    <h3 class="session-title">Cultura libre en los centros penitenciarios de Galicia<a
        href="https://propuestas.eslib.re/2024/charlas/cultura-libre-centros-penitenciarios-galicia"
        target="_blank"></a></h3>
    <span class="session-speaker">Rafael Rodríguez Gayoso</span>
    <span class="session-time">19:20 - 19:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/cultura-libre-centros-penitenciarios-galicia"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <!-- TRACK 2 -->

  <div class="session session-1 track-2" style="grid-column: track-2; grid-row: time-0930 / time-1100;">
    <h3 class="session-title">EchidnaScratch ML: Software de escritorio para robótica e IA en educación<a
        href="https://propuestas.eslib.re/2024/talleres/echidnascratch-ml-software-robotica-ia-educacion"
        target="_blank"></a></h3>
    <span class="session-speaker">Jorge Lobo, Xabier Rosas, José Pujol, Juan David Rodríguez</span>
    <span class="session-time">09:30 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/echidnascratch-ml-software-robotica-ia-educacion"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/9f5f6a21-723e-46c3-9c07-742aef7b24fb" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-1 track-2" style="grid-column: track-2; grid-row: time-1100 / time-1110;">
    <h3 class="session-title">Software Libre en la Universidad: la experiencia en el Grado de Historia y Ciencias de la
      Música de la Universidad Autónoma de Madrid<a
        href="https://propuestas.eslib.re/2024/charlas/software-libre-en-la-universidad-experiencia"
        target="_blank"></a></h3>
    <span class="session-speaker">Alejandro Rodríguez Antolín</span>
    <span class="session-time">11:00 - 11:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/software-libre-en-la-universidad-experiencia"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-1115 / time-1125;">
    <h3 class="session-title">Por qué soy un analfabeto tecnológico pero me importa el Software Libre<a
        href="https://propuestas.eslib.re/2024/charlas/por-que-analfabeto-tecnologico-importa-software-libre"
        target="_blank"></a></h3>
    <span class="session-speaker">Ana Galán</span>
    <span class="session-time">11:15 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/por-que-analfabeto-tecnologico-importa-software-libre"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-2" style="grid-column: track-2; grid-row: time-1200 / time-1330;">
    <h3 class="session-title">Creación de realidad extendida con FLOSS | OpenLAB - La Mutant XR<a
        href="https://propuestas.eslib.re/2024/talleres/creacion-realidad-extendida-floss" target="_blank"></a></h3>
    <span class="session-speaker">inventadero</span>
    <span class="session-time">12:00 - 13:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/creacion-realidad-extendida-floss"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/fd851658-ed31-4c1d-9f24-90649b54d08f" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-4 track-2" style="grid-column: track-2; grid-row: time-1330 / time-1350;">
    <h3 class="session-title">CRA & PLD: liability rules and software freedom<a
        href="https://propuestas.eslib.re/2024/charlas/cra-pld-liability-rules-software-freedom" target="_blank"></a>
    </h3>
    <span class="session-speaker">Alexander Sander</span>
    <span class="session-time">13:30 - 13:50 <strong>[IN ENGLISH]</strong></span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/cra-pld-liability-rules-software-freedom"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-2" style="grid-column: track-2; grid-row: time-1530 / time-1700;">
    <h3 class="session-title">Computación somática: materializando ciencias computacionales en cuerpxs humanxs y
      coreografía<a
        href="https://propuestas.eslib.re/2024/talleres/computacion-somatica-materializando-ciencias-computacionales"
        target="_blank"></a></h3>
    <span class="session-speaker">compudanzas (sejo y mel*)</span>
    <span class="session-time">15:30 - 17:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/computacion-somatica-materializando-ciencias-computacionales"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/6b409d9e-e4b1-4b03-a6f6-b02623dee9ba" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-1700 / time-1800;">
    <h3 class="session-title">Probando la gestión de equipos y servidores de forma remota y desatendida con Migasfree<a
        href="https://propuestas.eslib.re/2024/talleres/probando-gestion-equipos-remota-desatendida-migafree"
        target="_blank"></a></h3>
    <span class="session-speaker">Equipo Vitalinux</span>
    <span class="session-time">17:00 - 18:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/probando-gestion-equipos-remota-desatendida-migafree"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/6723ce9e-a252-40ae-942d-3acb022ff8c9" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-7 track-2" style="grid-column: track-2; grid-row: time-1830 / time-1900;">
    <h3 class="session-title">Probando la gestión de equipos y servidores de forma remota y desatendida con Migasfree
      (continuación)<a
        href="https://propuestas.eslib.re/2024/talleres/probando-gestion-equipos-remota-desatendida-migafree"
        target="_blank"></a></h3>
    <span class="session-speaker">Equipo Vitalinux</span>
    <span class="session-time">18:30 - 19:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/probando-gestion-equipos-remota-desatendida-migafree"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/6723ce9e-a252-40ae-942d-3acb022ff8c9" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-8 track-2" style="grid-column: track-2; grid-row: time-1900 / time-1920;">
    <h3 class="session-title">Análisis de datos con Python y vulnerabilidades de seguridad en 2023<a
        href="https://propuestas.eslib.re/2024/charlas/analisis-datos-python-vulnerabilidades-seguridad"
        target="_blank"></a></h3>
    <span class="session-speaker">Florencio Cano Gabarda</span>
    <span class="session-time">19:00 - 19:20</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/analisis-datos-python-vulnerabilidades-seguridad"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <!-- TRACK 3 -->

  <div class="session session-0 track-3" style="grid-column: track-3; grid-row: time-0930 / time-1100;">
    <h3 class="session-title">Taller de pensamiento computacional<a
        href="https://propuestas.eslib.re/2024/talleres/taller-pensamiento-computacional" target="_blank"></a></h3>
    <span class="session-speaker">Adriana Fuentes, Loli Iborra</span>
    <span class="session-time">09:30 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/taller-pensamiento-computacional"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/aa510b61-e395-4551-a1b0-10c76857f576" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-1 track-3" style="grid-column: track-3; grid-row: time-1105 / time-1125;">
    <h3 class="session-title">gwit: una web resilient de repos Git<a href="https://propuestas.eslib.re/2024/charlas/gwit-web-resilient-repos-git" target="_blank"></a>
    </h3>
    <span class="session-speaker">Ivan Vilata i Balaguer</span>
    <span class="session-time">11:05 - 11:25 <strong>[EN VALENCIÀ]</strong></span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/gwit-web-resilient-repos-git"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}"
          height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-2 track-3" style="grid-column: track-3; grid-row: time-1200 / time-1400;">
    <h3 class="session-title">Sala "Conocimiento abierto en la Universidad"<a
        href="https://propuestas.eslib.re/2024/salas/conocimiento-abierto-universidad" target="_blank"></a></h3>
    <span class="session-speaker">Oficinas de Software Libre y de Conocimiento Abierto de Universidad españolas</span>
    <span class="session-time">12:00 - 14:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/salas/conocimiento-abierto-universidad"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1530 / time-1550;">
    <h3 class="session-title">Accesibilidad con Tecnologías Libres: un repaso a los proyectos más interesantes que hemos
      tratado en los programas de este podcast<a
        href="https://propuestas.eslib.re/2024/charlas/accesibilidad-tecnologias-libres" target="_blank"></a></h3>
    <span class="session-speaker">Jorge Lama, David Marzal</span>
    <span class="session-time">15:30 - 15:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/accesibilidad-tecnologias-libres"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-3" style="grid-column: track-3; grid-row: time-1555 / time-1615;">
    <h3 class="session-title">La accesibilidad universal en Regreso al Futuro<a
        href="https://propuestas.eslib.re/2024/charlas/accesibilidad-universal-regreso-futuro" target="_blank"></a></h3>
    <span class="session-speaker">Víctor Hernández</span>
    <span class="session-time">15:55 - 16:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/accesibilidad-universal-regreso-futuro"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-3" style="grid-column: track-3; grid-row: time-1620 / time-1640;">
    <h3 class="session-title">Turbulencia en el capitalismo informacional: hacia una concepción rizomática del hacking<a
        href="https://propuestas.eslib.re/2024/charlas/turbulencia-capitalismo-informacional-rizomatica-hacking"
        target="_blank"></a></h3>
    <span class="session-speaker">KANNO</span>
    <span class="session-time">16:20 - 16:40</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/turbulencia-capitalismo-informacional-rizomatica-hacking"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-1645 / time-1705;">
    <h3 class="session-title">Monitorizando con Checkmk<a
        href="https://propuestas.eslib.re/2024/charlas/monitorizando-con-checkmk" target="_blank"></a></h3>
    <span class="session-speaker">Isabel Bernal Márquez</span>
    <span class="session-time">16:45 - 17:05</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/monitorizando-con-checkmk"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-7 track-3" style="grid-column: track-3; grid-row: time-1710 / time-1730;">
    <h3 class="session-title">Introducció al Programari Lliure<a href="" target="_blank"></a></h3>
    <span class="session-speaker">Alex Climent</span>
    <span class="session-time">17:10 - 17:30 <strong>[EN VALENCIÀ]</strong></span><br>
    <span class="session-speaker">
      <a href=""><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-3" style="grid-column: track-3; grid-row: time-1735 / time-1755;">
    <h3 class="session-title">LibreOffice: fuerza y talento de un proyecto global<a
        href="https://propuestas.eslib.re/2024/charlas/libreoffice-fuerza-talento-proyecto-global" target="_blank"></a>
    </h3>
    <span class="session-speaker">Gabriele Ponzo</span>
    <span class="session-time">17:35 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/libreoffice-fuerza-talento-proyecto-global"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-3" style="grid-column: track-3; grid-row: time-1830 / time-1850;">
    <h3 class="session-title">Herramientas libres para la creación de artes visuales<a
        href="https://propuestas.eslib.re/2024/charlas/herramientas-libres-creacion-artes-visuales" target="_blank"></a>
    </h3>
    <span class="session-speaker">Cristian González Guerrero</span>
    <span class="session-time">18:30 - 18:50</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/herramientas-libres-creacion-artes-visuales"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1855 / time-1915;">
    <h3 class="session-title">Veenk: financiación de software libre efectiva<a
        href="https://propuestas.eslib.re/2024/charlas/veenk-financiacion-software-libre-efectiva" target="_blank"></a>
    </h3>
    <span class="session-speaker">Kyva</span>
    <span class="session-time">18:55 - 19:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/veenk-financiacion-software-libre-efectiva"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-3" style="grid-column: track-3; grid-row: time-1920 / time-1930;">
    <h3 class="session-title">Como dar una segunda vida a hardware "para desguace" con software libre en 2024<a
        href="https://propuestas.eslib.re/2024/charlas/dar-segunda-vida-hardware-desguace" target="_blank"></a></h3>
    <span class="session-speaker">José Miguel Castillo García</span>
    <span class="session-time">19:20 - 19:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/charlas/dar-segunda-vida-hardware-desguace"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <!-- TRACK 4 -->

  <div class="session session-1 track-4" style="grid-column: track-4; grid-row: time-1100 / time-1130;">
    <h3 class="session-title">Recursos tecnológicos para la comunicación y participación de las personas con
      discapacidad<a
        href="https://propuestas.eslib.re/2024/talleres/recursos-tecnologicos-comunicacion-participacion-personas-discapacidad"
        target="_blank"></a></h3>
    <span class="session-speaker">Thais Pousada</span>
    <span class="session-time">11:00 - 11:30</span><br>
    <span class="session-speaker">
      <a
        href="https://propuestas.eslib.re/2024/talleres/recursos-tecnologicos-comunicacion-participacion-personas-discapacidad"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/59be8e4b-cf4f-4955-80b0-53db0e603218" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-1200 / time-1300;">
    <h3 class="session-title">Recursos tecnológicos para la comunicación y participación de las personas con
      discapacidad (continuación)<a
        href="https://propuestas.eslib.re/2024/talleres/recursos-tecnologicos-comunicacion-participacion-personas-discapacidad"
        target="_blank"></a></h3>
    <span class="session-speaker">Thais Pousada</span>
    <span class="session-time">12:00 - 13:00</span><br>
    <span class="session-speaker">
      <a
        href="https://propuestas.eslib.re/2024/talleres/recursos-tecnologicos-comunicacion-participacion-personas-discapacidad"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/59be8e4b-cf4f-4955-80b0-53db0e603218" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1730;">
    <h3 class="session-title">Hydra o el arte programado: taller de codificación y experimentación audiovisual en vivo
      con software libre<a
        href="https://propuestas.eslib.re/2024/talleres/hydra-arte-programado-codificacion-experimentacion-audiovisual"
        target="_blank"></a></h3>
    <span class="session-speaker"></span>
    <span class="session-time">16:00 - 17:30</span><br>
    <span class="session-speaker">
      <a
        href="https://propuestas.eslib.re/2024/talleres/hydra-arte-programado-codificacion-experimentacion-audiovisual"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/7ce49673-88a1-46b2-ae0e-8e87a06fb042" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-5 track-4" style="grid-column: track-4; grid-row: time-1730 / time-1800;">
    <h3 class="session-title">Obtén el máximo rendimiento de tu ESP32: desarrolla aplicaciones en lenguaje C con el
      framework ESP-IDF<a
        href="https://propuestas.eslib.re/2024/talleres/maximo-rendimiento-esp32-desarrolla-aplicaciones"
        target="_blank"></a></h3>
    <span class="session-speaker">Pablo Ridolfi</span>
    <span class="session-time">17:30 - 18:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/maximo-rendimiento-esp32-desarrolla-aplicaciones"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/75df05ed-79dc-4193-b7bb-a3c96684b379" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

  <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-1830 / time-1930;">
    <h3 class="session-title">Obtén el máximo rendimiento de tu ESP32: desarrolla aplicaciones en lenguaje C con el
      framework ESP-IDF (continuación)<a
        href="https://propuestas.eslib.re/2024/talleres/maximo-rendimiento-esp32-desarrolla-aplicaciones"
        target="_blank"></a></h3>
    <span class="session-speaker">Pablo Ridolfi</span>
    <span class="session-time">18:30 - 19:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2024/talleres/maximo-rendimiento-esp32-desarrolla-aplicaciones"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><br><span class="session-title"><strong><a
          href="https://eventos.librelabgrx.cc/events/75df05ed-79dc-4193-b7bb-a3c96684b379" target="_blank">[RESERVAR
          PLAZA TALLER]</a></strong></span>
  </div>

</div>