---
layout: 2024/default
ready: no
---

<div class="media">
  <img src="/2024/assets/imgs/banner.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>

<div class="main-container container" style="padding-bottom: 1em !important;">
  <div class="row main-news">
    <div class="col-md-7">
      <h2>Que siga la cultura libre</h2>

      <h5 style="text-align: right;">Hace nada que celebramos la edición más multitudinaria de <strong>es<span
            class="red">Libre</span></strong> hasta la fecha, así que después de coger un poco de aire toca volver a
        comenzar a planificar, porque ser
        un evento de la comunidad para la comunidad es más necesario que nunca.</h5><br>

      <p style="font-size: 1.2rem;">
        Este año, gracias a tener como comunidad anfitriona a <a href="https://gnulinuxvalencia.org/"
          target="_blank"><strong>GNU/Linux València</strong></a> podremos volver a celebrar estas
        jornadas de conocimiento libre en nuevas sedes: <a href="https://www.lasnaves.com/" target="_blank"><strong>Las
            Naves</strong></a>, el centro de innovación social y urbana de la
        ciudad de València, y <a href="https://www.lamutant.com/" target="_blank"><strong>La Mutant</strong></a>, el
        espacio de artes vivas.</p>

      <p style="text-align: center;">
        <a href="https://gnulinuxvalencia.org/" target="_blank"><img src="/2024/assets/logos/gnulinuxvalencia.png"
            height="250" alt="Logo Asociación GNU/Linux València"></a>
      </p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.25rem;">Ya tenemos confirmadas las propuestas para
        este año, así que échale un ojo en los enlaces de aquí abajo:
      <ul>
        <li><strong>Horario completo</strong>: <a href="/2024/horario"
            target="_blank">https://eslib.re/2024/horario/</a></li>
        <li><strong>Propuestas aceptadas</strong>: <a href="https://propuestas.eslib.re/2024/"
            target="_blank">https://propuestas.eslib.re/2024/</a></li>
      </ul>
      </p>

      <p style="padding-top: 20px; text-align: center; font-size: 1.25rem;">La asistencia al evento es <span
          class="red">libre y gratuita</span>, pero por cuestiones de aforo necesitamos que <span class="red">te
          registres <a href="https://eslib.re/2024/asistir"
            target="_blank">aquí</a></span> si tienes pensado asistir.</p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.5rem;"><strong>¡¡¡Nos vemos dentro de
          poco!!!</strong></p>
    </div>

    <div class="col-md-5">
      <a href="/2024/assets/imgs/2023.jpg" target="_blank"><img src="/2024/assets/imgs/2023_small.jpg" width="400"
          alt="Mosaico 2023" class="embed-responsive"></a>
    </div>
  </div>

  <div class="row">
    <h2 style="padding-left: 0.5em">Patrocinadores:</h2>

    <div class="box">
      <a href="https://www.lasnaves.com/" target="_blank">
        <img src="/2024/assets/logos/lasnavesmutant.png" alt="Las Naves" class="images-small">
      </a>
    </div>

    <div class="box">
      <a href="https://slimbook.com/" target="_blank">
        <img src="/2024/assets/logos/slimbook.png" alt="Slimbook" class="images-small">
      </a>
      <a href="https://wikimedia.es/" target="_blank">
        <img src="/2024/assets/logos/wikimedia_españa.png" alt="Wikimedia España" class="images-small">
      </a>
      <a href="https://www.suse.com/es-es/" target="_blank">
        <img src="/2024/assets/logos/suse.png" alt="SUSE" class="images-small">
      </a>
      <a href="https://www.galpon.org/" target="_blank">
        <img src="/2024/assets/logos/galpon.png" alt="GALPon" class="images-small">
      </a>
    </div>

    <h2 style="padding-top: 0.75em; padding-left: 0.5em">Colaboradores:</h2>

    <div class="box">
      <a href="https://interferencias.tech/" target="_blank">
        <img src="/2024/assets/logos/interferencias.png" alt="Interferencias" class="images-small">
      </a>
      <a href="https://librelabgrx.cc" target="_blank">
        <img src="/2024/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="images-small">
      </a>
      <img src="/2024/assets/logos/emancipacio_comunitaria.png" alt="Emancipació Comunitària" class="images-small">
      <a href="https://hackvlc.es/" target="_blank">
        <img src="/2024/assets/logos/hackerspace_valencia.png" alt="Hackerspace Valencia" class="images-small">
      </a>
      <a href="https://twitter.com/Hackvlc27" target="_blank">
        <img src="/2024/assets/logos/hackvalencia.png" alt="HackValencia%27" class="images-small">
      </a>
      <a href="https://ofilibre.gitlab.io/" target="_blank">
        <img src="/2024/assets/logos/ofilibre_urjc.png" alt="OfiLibre URJC" class="images-small">
      </a><br>
      <a href="https://vlctechhub.org/" target="_blank">
        <img src="/2024/assets/logos/vlctechhub.png" alt="VLCTechHub%27" class="images-small">
      </a>
      <a href="https://www.librebit.com/" target="_blank">
        <img src="/2024/assets/logos/librebit.png" alt="Librebit" class="images-small">
      </a>
      <a href="https://www.aitire.cloud/" target="_blank">
        <img src="/2024/assets/logos/aitire.jpg" alt="Aitire" class="images-small">
      </a>
      <a href="https://www.kde-espana.org/" target="_blank">
        <img src="/2024/assets/logos/kde-logo-white-blue-rounded-128x128.png" alt="KDE España" class="images-small">
      </a>
    </div>
  </div>
</div>

<hr />