---
layout: 2019/default
section: programa
title: esLibre 2019 - Tomás Garzón - Como matar a tu viejo Django y dejar crecer a sus hijitos
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (13:00 - 13:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/garzon_tomas.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Tomás Garzón: "Como matar a tu viejo Django y dejar crecer a sus hijitos"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Desde <a href="https://www.openexo.com/" target="_blank">OpenExO</a> hemos estado trabajando durante varios años en nuestra plataforma monolítica basada en <a href="https://www.djangoproject.com/" target="
  _blank">Django</a>. Hace un año vimos que la situación era insostenible y decidimos cambiar a un enfoque de microservicios, basados en Django y dando
  continuidad al negocio. Nos gustaría compartir nuestra experiencia a día de hoy en este camino.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  No es una charla más sobre teoría de microservicios, es una reflexión real de como estamos migrando una plataforma monolítica en Django hacia un enfoque de servicios basados en Django.<br><br>
  Veremos como con esta arquitectura se pueden afrontar problemas reales de las startups y como nos permite prepararnos para escalar nuestro negocio. Hablaremos de conceptos como la dockerización, el despliegue de la aplicación, la gestión del código
  entre desarrolladores, entornos de tests, así como la autenticación, comunicación entre servicios, etc.<br><br>
  Todo esto recogido desde nuestra experiencia, con lecciones aprendidas, con fallos y feedback de otras partes de la empresa. Uno de los principales handicaps de este enfoque es como hacerlo a la misma vez que el negocio continua evolucionando y se
  tiene que dar soporte a los usuarios actuales.<br><br>
  La base tecnológica es el software libre, ya que nuestro framework principal es Django, y hacemos uso de otras plataformas de software libre como <a href="https://lightbus.org/" target="_blank">Lightbus</a> o <a
    href="https://github.com/closeio/socketshark" target="
  ">SocketShark</a> para la comunicación entre servicios. Ademas, en nuestro repositorio de GitHub
  puedes encontrar diversos paquetes que hemos ido liberando y que pueden ser reutilizados a través de <a href="https://pypi.org/" target="_blank">PyPI</a> (la mayor parte de ellos son apps para Django).
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Desarrolladores que se interesen por la arquitectura de las aplicaciones.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Tomás Garzón</strong>, desarrollador backend en Django desde 2006, cofundador de IActive Intelligent Solutions y actualmente Lead Software Developer en <a href="https://www.openexo.com/" target="_blank">OpenExo</a>. Ponente en <a
    href="http://2016.es.pycon.org/es/schedule/manejo-de-static-con-bower-y-gulp-para-django/" target="_blank">PyCon 2016</a> en Almeria.<br><br>
  <a href="https://github.com/tomasgarzon" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/tomás-garzón-hervás-8947ba11/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
