---
layout: 2024/default
section: propuestas
permalink: /2024/enviar/mesas/
title: Propuestas de mesas/expositores - esLibre 2024
description: Queremos que tu comunidad/grupo también tenga un espacio en el congreso para darse a conocer.
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024 - Propuestas de mesas/expositores</h1>

<p align="center">
  <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2024/propuestas/">"Envío de propuestas"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/tables-es" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Los campos marcados como (*) son obligatorios</li>
        <li>Por favor, no uséis en vuestras propuestas recursos de Google, Microsoft o, en general, cualquier empresa poco respetuosa con la privacidad de las personas o la soberanía tecnológica</li>
        <li>Recordad que para cualquier duda puedes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label for="community_name">Comunidad/grupo que solicita la mesa (*):</label></strong>
      <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
        onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="web">Web de la comunidad/grupo (*):</label></strong>
      <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block" onkeyup="counterDisplay(this, 'web', true)"
        required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Página con información sobre la comunidad/grupo que pide espacio en la zona de mesas de la comunidad/grupo.</span>
    </div>
    <div class="form-group"><strong><label for="community_description">Info sobre la comunidad/grupo (*):</label></strong>
      <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
        id="community_description-help-block" class="form-text text-muted">Cualquier información que quieras añadir sobre la comunidad/grupo que gestionará la mesa en el espacio habilitado para ello.</span>
    </div>
    <div class="form-group"><strong><label for="mastodon">Mastodon (u otras redes sociales libres):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Cualquier perfil en una red social libre es válido, pero recordad introducir la URL
        completa para conocer también la instancia en la que os encontráis para que os podamos encontrar.</span>
    </div>
    <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Indicad solo el nombre en Twitter.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (u otra forja) o portfolio general:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="url" maxlength="255" aria-describedby="gitlab-help-block"
        onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Cualquier sitio de código colaborativo donde tengáis proyectos que querrías compartir.</span>
    </div>
    <div class="form-group"><strong><label for="contact">Persona de contacto (*):</label></strong>
      <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
        required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Persona que hará de contacto directo con la organización.</span>
    </div>
    <div class="form-group"><strong><label for="email">Email de contacto (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required"
        class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Correo para comunicarnos con vosotros (no será público).</span>
    </div>
    <div class="form-group"><strong><label for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="comments" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Cualquier otro comentario relevante para la
        organización.</span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Aceptamos seguir el <a href="/conducta" target="_blank">código de conducta</a>
            durante nuestra participación en el congreso(*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
