---
layout: 2023/default
section: propuestas
permalink: /2023/submit/proposals
title: Talks and workshops proposals - esLibre 2023
description: Send us proposals for talks and workshops for esLibre 2023!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2023 - Proposals for talks and workshops</h1>

<p align="center">
    <cite style="color: black;">Before submitting a proposal, please make sure you have read the information on the <a href="/2023/proposals/">"Submit a proposal"</a> page.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
    <form id="create-talks" role="form" action="https://edp.eslib.re/form/proposals-en" method="post">
        <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
                <li>Fields marked with (*) are mandatory</li>
                <li>Please do not use resources from Google, Microsoft or, in general, any company with little respect for people's privacy or technological sovereignty in your proposals</li>
                <li>Remember that if you have any questions you can write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
                </ul>
            </span></div>
        <div class="form-group"> <strong><label class="label-forms-text" for="title">Title (*):</label></strong>
            <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
                required="required" class="form-control">
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="abstract">Abstract (*):</label></strong>
            <div id="abstract-counter-tag" class="tag is-danger"><span id="abstract-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="abstract" cols="40" rows="5" maxlength="1000"
                style="resize:none; overflow-y: scroll;" aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', true)" required="required" class="form-control"></textarea><span id="abstract-help-block"
                class="form-text text-muted list-forms-text">Short introduction and motivation of the proposal.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text">Format of the proposal (*):</label></strong>
            <div>
                <div class="custom-control label-check"><input name="format" type="radio" required="required" value="S"><label for="format">&nbsp;Short talk (10-15 minutes)</label></div>
                <div class="custom-control label-check"><input name="format" type="radio" required="required" value="L"><label for="format">&nbsp;Long talk (around 30 minutes)</label> </div>
                <div class="custom-control label-check"><input name="format" type="radio" required="required" value="W"><label for="format">&nbsp;Workshop (indicate duration in the description: maximum 2 hours)</label> </div>
            </div>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="description">Description (*):</label></strong>
            <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;</div><textarea name="description" cols="40" rows="5" maxlength="5000"
                style="resize:none; overflow-y: scroll;" aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block"
                class="form-text text-muted list-forms-text">Slightly longer description of the subject matter and content of the proposal.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="project">Project website:</label></strong>
            <div id="project-counter-tag" class="tag is-success"><span id="project-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="project" type="url" maxlength="150" aria-describedby="project-help-block"
                onkeyup="counterDisplay(this, 'project', false)" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Page with information about the project (if any).</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="target">Target audience:</label></strong>
            <div id="target-counter-tag" class="tag is-success"><span id="target-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="target" cols="40" rows="5" maxlength="1000"
                style="resize:none; overflow-y: scroll;" aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', false)" class="form-control"></textarea><span id="target-help-block"
                class="form-text text-muted list-forms-text">Who do you think might find this topic interesting (usefulness, related fields, possibilities...)?</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="name">Name (*):</label></strong>
            <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
                required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">You can use a pseudonym if you prefer.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="email">Email (*):</label></strong>
            <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
                required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">We need it to communicate with you, but it will not be published at any time.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="bio">Bio (*):</label></strong>
            <div id="bio-counter-tag" class="tag is-danger"><span id="bio-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;2000&nbsp;</div><textarea name="bio" cols="40" rows="5" maxlength="2000" style="resize:none; overflow-y: scroll;"
                aria-describedby="bio-help-block" onkeyup="counterDisplay(this, 'bio', true)" required="required" class="form-control"></textarea><span id="bio-help-block" class="form-text text-muted list-forms-text">We would need some general
                information about the person(s) who will carry out the proposal: personal interests, experience in the field, if you have carried out similar activities...</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text">Application for accommodation:</label></strong>
          <div>
            <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="N" checked="checked"><label for="grants">&nbsp;I do not request accommodation</label></div>
            <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="M"><label for="grants">&nbsp;Application for accommodation for women and under-represented groups of people</label></div>
            <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="E"><label for="grants">&nbsp;Application for accommodation for people with disabilities, neurodivergent or similar conditions</label></div>
            <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="G"><label for="grants">&nbsp;General application for  accommodation for persons in a situation of economic vulnerability</label></div>
          </div>
          <span id="grants-help-block" class="form-text text-muted list-forms-text">Etopia has given us several rooms in its guest residence for congress participants free of charge, so we want to offer them to facilitate the participation of two groups of people that we consider a priority: (1) <strong>women, transgender people and other underrepresented genders</strong>; (2) <strong>persons with disabilities, neurodivergent and/or neurodiverse and other similar situations</strong>; (3) <strong>unemployed people, students and people in various situations of economic precariousness</strong>.<br><br>All applications received will be handled with complete privacy and we will let you know the resolution by mail, but if you have any questions, please do not hesitate to write to <a href="mailto:hola@eslib.re">hola@eslib.re</a>.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text">Application for remote participation:</label></strong>
            <div id="remote-counter-tag" class="tag is-success"><span id="remote-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div>
            <div>
                <div class="custom-control custom-checkbox"><input name="remote_req" type="checkbox"><label class="label-forms-text" for="remote_req">&nbsp;I am applying to participate remotely in the congress for the following reasons:</label>
                </div>
            </div>
            <textarea name="remote" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;" aria-describedby="remote-help-block" onkeyup="counterDisplay(this, 'remote', false)" class="form-control"></textarea><span
                id="remote-help-block" class="form-text text-muted list-forms-text">The request for remote participation does not imply that it is automatically accepted. The congress is compulsory for those who participate with a proposal, but if
                there is a considerable reason, we may accept remote talks on an exceptional basis (e.g. currently residing in another country).</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="web">Personal website:</label></strong>
            <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
                onkeyup="counterDisplay(this, 'web', false)" class="form-control"><span id="web-help-block" class="form-text text-muted list-forms-text">In case you have a personal website you want to share.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="mastodon">Mastodon (or other libre social networks):</label></strong>
            <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
                onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Any profile on a free social network is valid, but remember to enter the full URL to
                know also the instance where you are located so we can find you.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="twitter">Twitter:</label></strong>
            <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;16&nbsp;</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
                onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Indicate only your name on Twitter.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (or other forge) or general portfolio:</label></strong>
            <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="url" maxlength="255" aria-describedby="gitlab-help-block"
                onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Any collaborative coding site where you have projects you would like to share.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="comments">Comments:</label></strong>
            <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="comments" cols="40" rows="5" maxlength="1000"
                style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block"
                class="form-text text-muted list-forms-text">Any other comments relevant to the organising team.</span>
        </div>
        <div class="call-outer">
            <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Call:</label></strong>
                <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;I agree to follow the <a href="/conduct" target="_blank">code of
                            conduct</a>
                        during my participation in the congress (*)</label></div>
            </div>
        </div>
        <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Submit</button></div>
    </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
