---
layout: 2021/default
section: programa
title: Programa de esLibre 2021
---
<h1 class="mt-4 mb-4">Programa de <strong>es<span class="red">Libre</span> 2021</strong></h1>
<h2 class="mt-4 mb-4">Horario</h2>
<p>Todo en este congreso se ha organizado usando <strong>software libre</strong>. En lo que se refiere al programa, este fue completamente accesible desde <a href="https://bigbluebutton.librelabucm.org/" target="_blank">la instancia de
    <strong>BigBlueButton</strong></a> d̶e̶s̶p̶l̶e̶g̶a̶d̶a̶ &nbsp;<span class="red">(actualmente desactivada)</span> en los servidores de <a href="https://librelabucm.org/" target="_blank"><strong>LibreLabUCM</strong></a>, como comunidad anfitriona
  de esta edición de <strong>es<span class="red">Libre</span>
    2021</strong>.</p>
<p><strong>Recuerda que al participar en <strong>es<span class="red">Libre</span> 2021</strong> estás aceptando seguir el <a href="/conducta" target="_blank">código de conducta</a> del congreso</strong>. Ante cualquier problema relacionado con este
  tema puedes contactar con cualquier de las personas de la organización que estarán en cada una de las salas o escribir directamente a <a href="mailto:conducta@eslib.re">conducta@eslib.re</a>.</p>
<strong>Notas:</strong>
<ul>
  <li>No es necesario registrarse para acceder a la retransmisión de las actividades, simplemente tienes que pulsar sobre la &nbsp;<img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"> que acompaña el
    recuadro de cada una de las actividades.</li>
  <li>También puedes interactuar con el resto de personas que participan en el congreso desde nuestro <strong>Rocket.Chat</strong><span class="red">&nbsp;(actualmente desactivado)</span>. Puedes acceder al <a
      href="https://rocketchat.librelabucm.org/channel/general" target="_blank">canal general</a> o al
    <a href="https://rocketchat.librelabucm.org/directory/channels" target="_blank">directorio de canales</a> para explorar todos los canales del congreso, o simplemente pulsar sobre el &nbsp;<img
      src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"> que acompaña el recuadro de cada una de las actividades.
  </li>
  <li>En cada una de las pistas y salas habrá personas de organización con las que podrás contactar si tienes cualquier problema técnico o cualquier duda sobre el congreso, pero si no sabes a quien preguntar, también puedes hacerlo por el <a
      href="https://rocketchat.librelabucm.org/channel/Soporte" target="_blank">canal de soporte</a>.
  <li>Si accedes desde un smartphone o una tablet y no puedes ver correctamente el horario, puedes descargarlo en formato PDF desde <a href="{{ '/2021/assets/pdf/horario_eslibre_2021.pdf' | prepend: site.baseurl }}">aquí</a> y en formato imagen desde
    <a href="{{ '/2021/assets/imgs/horario_eslibre_2021_viernes.png' | prepend: site.baseurl }}">aquí (viernes)</a> y <a href="{{ '/2021/assets/imgs/horario_eslibre_2021_sabado.png' | prepend: site.baseurl }}">aquí (sábado)</a>.
  </li>
  <li>La programación en diferido de la <strong>sala <a href="https://propuestas.eslib.re/2021/salas/podcast-libres" target="_blank">Podcast Libres</a></strong> se podrá seguir desde el inicio del congreso en <a
      href="https://bigbluebutton.librelabucm.org/b/raf-nss-ink-xp1" target="_blank">su propia sala en BBB&nbsp;<img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> <span
      class="red">&nbsp;(actualmente desactivada)</span>, así como comentar su contenido
    en <a href="https://rocketchat.librelabucm.org/channel/Sala_Podcast_Libres" target="_blank">su canal en Rocket.Chat&nbsp;<img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a>. Los
    diferentes podcast que se emitirán son los siguientes:
    <ul>
      <li>Viernes 25</li>
      <ul>
        <li>11:00-11:35 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#eslibre2021-RW" target="_blank">Congreso esLibre 2021 según República Web</a></li>
        <li>11:35-12:13 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#eslibre2021-gnu-linux-valencia" target="_blank">Especial esLibre 2021 GNU/Linux Valencia</a></li>
        <li>12:30-13:40 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#eslibre-podcastlinux" target="_blank">Podcast Linux #132 - Especial Es_Libre 2021</a></li>
        <li>16:00-16:21 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#luis-fajardo-luis-falcon" target="_blank">GNU/Linux Valencia - Entrevistas a Luis Fajardo y Luis Falcón</a></li>
        <li>16:25-17:15 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#mancomun-podcast" target="_blank">Mancomún Podcast - esLibre con Rafael Mateus, Pedro Javier Fernández y Germán Martínez</a></li>
        <li>17:20-18:45 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#drupal-2021" target="_blank">República Web - Estado del desarrollo de Drupal en 2021</a></li>
      </ul>
      <li>Sábado 26</li>
      <ul>
        <li>11:00-11:50 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#software-libre-comunitat-valenciana" target="_blank">GNU/Linux Valencia - La influencia de la política en la implementación del Software Libre: nuestra
            experiencia en la Comunitat Valenciana</a>
        </li>
        <li>11:50-12:29 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#pentesting-movil" target="_blank">Somos Tecnológicos - Pentesting con el móvil</a></li>
        <li>12:30-13:25 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#nolegaltech-tech-ladies" target="_blank">Entrevistas a Andrea de NOlegaltech Radio y a Cris Pampín de Tech&Ladies PODCAST</a></li>
        <li>16:00-17:15 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#software-libre-cientifico-administrador-programador" target="_blank">¿Qué es el software libre para un científico, administrador o un programador?</a></li>
        <li>17:30-18:45 - <a href="https://propuestas.eslib.re/2021/salas/podcast-libres#mesa-redonda-sala-podcast" target="_blank">Mesa redonda sobre la sala de podcasting</a></li>
      </ul>
    </ul>
  </li>
  <li>Cada uno de los proyectos tiene también un canal asignado en Rocket.Chat&nbsp;<img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"> por si tienes interés en hablar sobre ellos con la persona
    que los ha propuesto <span class="red">&nbsp;(actualmente desactivados)</span>:
    <ul>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/damelibraries" target="_blank">DameLibraries</a>&nbsp;➡️&nbsp;<a href="https://rocketchat.librelabucm.org/channel/Proyecto_DameLibraries" target="_blank"><img
            src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/espacios-virtuales-floss-mozilla-hubs" target="_blank">Espacios Virtuales FLOSS: Mozilla Hubs</a>&nbsp;➡️&nbsp;<a
          href="https://rocketchat.librelabucm.org/channel/Proyecto_Espacios_Virtuales_FLOSS_Mozilla_Hubs" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/gaucho" target="_blank">Gaucho</a>&nbsp;➡️&nbsp;<a href="https://rocketchat.librelabucm.org/channel/Proyecto_Gaucho" target="_blank"><img
            src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/oslint" target="_blank">Oslint</a>&nbsp;➡️&nbsp;<a href="https://rocketchat.librelabucm.org/channel/Proyecto_Oslint" target="_blank"><img
            src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/tadam-web-framework" target="_blank">Tadam Web Framework</a>&nbsp;➡️&nbsp;<a href="https://rocketchat.librelabucm.org/channel/Proyecto_Tadam_Web_Framework" target="_blank"><img
            src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
      <li><a href="https://propuestas.eslib.re/2021/proyectos/wendigo" target="_blank">Wendigo</a>&nbsp;➡️&nbsp;<a href="https://rocketchat.librelabucm.org/channel/Proyecto_Wendigo" target="_blank"><img
            src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a></li>
    </ul>
  </li>
  <li>Cualquier momento es bueno para leer un artículo relacionado con software libre, así que si en cualquier momento sientes curiosidad general, puedes aprovechar para leer el artículo que nos envió <a href="https://victorhckinthefreeworld.com/"
      target="_blank">victorhck</a> para <a href="https://propuestas.eslib.re/2021/articulos/aprende-vim">aprender a usar Vim</a>.</li>
</ul>
<strong>Iconos:</strong>
<ul>
  <li><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20">: enlace a la página con la información sobre la propuesta o sala correspondiente</li>
  <li><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20">: enlace al vídeo de la presentación en <a href="https://commons.wikimedia.org/" target="_blank">Wikimedia Commons</a> (cuando esté disponible)
  </li>
  <li><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20">: descargar las diapositivas de la presentación (si están disponibles)</li>
</ul>
<table class="tg t_schedule">
  <tr>
    <th class="hour empty"></th>
    <th class="header" colspan="5">VIERNES 25 DE JUNIO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty">09:40-09:50</td>
    <td class="start" colspan="5">APERTURA Y PRESENTACIÓN<br><br>
      <div style="padding-left: 21.5em; text-align: left; text-transform: uppercase">
        <ul>
          <li>Rafael Mateus (LibreLabUCM)</li>
          <li>Cristóbal Saraiba (LibreLabUCM)</li>
          <li>Pedro Javier Fernández (LibreLabUCM)</li>
          <li>Germán Martínez (Interferencias/LibreLabGRX)</li>
        </ul>
      </div>
      <a href="https://w.wiki/4Jr4" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">09:50-11:00</td>
    <td class="plenary" colspan="5">SESIÓN PLENARIA:<br>"SOFTWARE LIBRE Y CULTURA LIBRE EN LA UNIVERSIDAD"
      <br>
      <a href="https://propuestas.eslib.re/2021/salas/software-libre-cultura-libre-en-la-universidad#formato" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <br><br>
      <div style="padding-left: 9.7em; text-align: left; text-transform: uppercase">
        09:50-10:10 "Repensando las oficinas de software libre en las Universidades" por Jesús Gonzalez-Barahona<br>
      </div>
      <br>
      <a href="/2021/presentaciones/repensando-oficias-software-libre.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrD" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <br><br>
      <div style="padding-left: 9.7em; text-align: left; text-transform: uppercase">
        10:10-10:40 "Cultura libre, universidad y sociedad. TXS.es, una fundación necesaria" por Luis Fajardo<br>
      </div>
      <br>
      <a href="/2021/presentaciones/txs-fundacion-necesaria.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrE" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <br><br>
      <div style="padding-left: 9.7em; text-align: left; text-transform: uppercase">
        10:40-11:00: "Experiencias desde el mundo del software libre en la Universidad" (ideas en 5 minutos)<br>
        <ul>
          <li>Ángel Bailo</li>
          <li>Pablo García</li>
          <li>Paula de la Hoz</li>
          <li>JJ Merelo</li>
        </ul>
      </div>
      <a href="https://w.wiki/4JrF" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="time empty"></td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 7em">esLibre: Pista I</p>
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 7em">esLibre: Pista II</p>
      </a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">WIKIMEDIA ESPAÑA</p>
        <p style="margin-bottom: 5em">Conocimiento y Cultura Libre</p>
        <a href="https://www.wikimedia.es/2021/06/10/sala-cultura-libre-eslibre2021/" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">INTERFERENCIAS</p>
        <p style="margin-bottom: 0.5em">Derechos Digitales y Privacidad en Internet + Soberanía Digital en las Aulas (Fuera Google)</p>
        <a href="https://interferencias.tech/eslibre/" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      </a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 5.5em">Desarrollo de videojuegos con Godot</p>
        <a href="https://propuestas.eslib.re/2021/salas/desarrollo-videojuegos-godot" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:00-11:25</td>
    <td class="track_top track-1_color">Albert Astals Cid</td>
    <td class="track_top track-2_color">JJ Merelo</td>
    <td class="track_top track-3_color">Marelisa Blanco (NoLegalTech)</td>
    <td class="track_top track-4_color">Sergio Salgado (Xnet)</td>
    <td class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">La colección de parches KDE Qt 5.15</td>
    <td class="track_mid track-2_color">Un lenguaje para el siglo XXI</td>
    <td class="track_mid track-3_color">Qué es la DEMUD, en lenguaje accesible</td>
    <td class="track_mid track-4_color">Excelencia en la privacidad de datos y la digitalización democrática de los centros educativos</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/coleccion-parches-kde-qt-5-15" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrH" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/lenguaje-para-siglo-xxi" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrV" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"><a href="https://www.wikimedia.es/2021/06/10/sala-cultura-libre-eslibre2021/" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a>
      &nbsp; <a href="https://w.wiki/4Jrd" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      &nbsp;
    </td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#digitalizacion-democratica-centros-educativos" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4Jrg" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:25-11:50</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-2_color">Daniel Izquierdo</td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Marion, Manu y Rakel (GRITE)</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color">¿Existen barreras para contribuir a proyectos de software libre?</td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Familias críticas por el Open Source</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/existen-barreras-contribuir-proyectos-software-libre" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrW" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#familias-criticas-opensource" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrh" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/familias-criticas-opensource.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:50-12:15</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-2_color">Gajendra Deshpande</td>
    <td class="track_top track-3_color"><strong>(12:00)</strong> ENCUENTRO:<br>"I Verificatón sobre información relacionada con la salud en Wikipedia"</td>
    <td class="track_top track-4_color">Luis Fajardo López (EDUCATIC)</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color">Python and FOSS in education for generation Z</td>
    <td class="track_mid track-3_color">Lorena Cano-Orón y Empar Vengut i Climent (ScienceFlows)</td>
    <td class="track_mid track-4_color">Demanda judicial contra los convenios con Google, la necesidad de la acción colectiva</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/python-and-foss-education-generation-z" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrX" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-3_color"><a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/I_Verificaton_Wikipedia" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jre"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#demanda-convenios-google" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jri" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">12:15-12:30</td>
    <th class="header" colspan="5">DESCANSO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">12:30-12:55</td>
    <td class="track_top track-1_color">Ángel Moreno y Francisco Torres</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-3_color">ENCUENTRO:<br>"I Verificatón sobre información relacionada con la salud en Wikipedia" (cont.)</td>
    <td class="track_top track-4_color">Juan Miguel Mendoza Garrido (CGT - Federación Andaluza de Sindicatos de Enseñanza)</td>
    <td class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Cómo se organiza la comunidad WordPress</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-3_color">Lorena Cano-Orón y Empar Vengut i Climent (ScienceFlows)</td>
    <td class="track_mid track-4_color">En defensa de una educación digital pública: la propuesta de FASE CGT</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/como-organiza-comunidad-wordpress" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JrJ"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"><a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/I_Verificaton_Wikipedia" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jre" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      &nbsp;
    </td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#propuesta-fase-cgt" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrj" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/propuesta-fase-cgt.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">12:55-13:20</td>
    <td class="track_top track-1_color">Jesús Amieiro Becerra</td>
    <td class="track_top track-2_color">Sergio López</td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Aimar (Hezkuntzan librezale)</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">PHP en 2021</td>
    <td class="track_mid track-2_color">Usando libkrun para aislar cargas de trabajo en la nube</td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Hezkuntzan librezale</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/php-en-2021" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrK" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/php-en-2021.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/libkrun-aislar-cargas-trabajo-en-nube" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrY" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#hezkuntzan-librezale" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrk" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/hezkuntzan-librezale.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">13:20-13:45</td>
    <td class="track_top track-1_color">tripu</td>
    <td class="track_top track-2_color">Italo Vignoli</td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Ezequiel Cabrillo (EducaMadrid)</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Abusando de ECMAScript en abierto</td>
    <td class="track_mid track-2_color">LibreOffice: mejorar la sostenibilidad del proyecto</td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">EducaMadrid: la plataforma tecnológica educativa y libre de la Comunidad de Madrid</td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/abusando-ecmascript-en-abierto" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrL" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/libreoffice-mejorar-sostenibilidad-proyecto" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrZ" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/libreoffice-mejorar-sostenibilidad-proyecto.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#educamadrid-plataforma-educativa-libre" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jrm"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/educamadrid-plataforma-educativa-libre.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">13:45-15:00</td>
    <th class="header" colspan="5">COMIDA</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty">15:00-16:00</td>
    <td class="plenary" colspan="5">SESIÓN PLENARIA:<br><br>NATHAN FREITAS<br>"PRIVACY-PRESERVING ANALYTICS FOR FREE SOFTWARE"<br><br>
      <a href="https://propuestas.eslib.re/2021/charlas/privacy-preserving-analytics-free-software" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/privacy-preserving-analytics-free-software.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JrG" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:00-16:25</td>
    <td class="track_top track-1_color">Tomas Garzón</td>
    <td class="track_top track-2_color">Lorenzo Carbonell</td>
    <td class="track_top track-3_color">PANEL:<br>"I Encuentro wikimedista sobre lucha contra la desinformación en Wikipedia en español"</td>
    <td class="track_top track-4_color">MESA REDONDA:<br>"Soberanía Digital en las Aulas (Fuera Google)"</td>
    <td class="track_top track-5_color">Andrés Ortiz</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Entregando tu producto como una API</td>
    <td class="track_mid track-2_color">Aplicaciones nativas en GNU/Linux con JavaScript y Gtk+ </td>
    <td class="track_mid track-3_color">Intervienen:<br>Pablo Aragón<br>(Wikimedia Foundation)<br>Anna Torres Adell<br>(Wikimedia Argentina)<br>Virginia Díez<br>(Wikimedia España)<br>Rocío Aravena<br>(Wikimedia Chile)<br>Pepe Flores<br>(Wikimedia
      México)<br><br>Modera:<br>Rubén Ojeda</td>
    <td class="track_mid track-4_color">Moderan:<br>Paula de la Hoz<br>Germán Martínez</td>
    <td class="track_mid track-5_color">Iniciación al desarrollo de juegos con Godot</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/entregando-tu-producto-como-una-api" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrM" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/talleres/aplicaciones-nativas-gnu-linux-javascript-gtk+" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jra" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"><a href="https://www.wikimedia.es/2021/06/10/sala-cultura-libre-eslibre2021/" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a>
      &nbsp; <a href="https://w.wiki/4Jrf" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#mesa-redonda" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-5_color"><a href="https://propuestas-godot.eslib.re/2021/talleres/iniciacion-desarrollo-juegos-con-godot" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrr" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:25-16:50</td>
    <td class="track_top track-1_color">Juanjo Salvador</td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td style="border-top: none !important" class="track_top track-4_color"></td>
    <td style="border-top: none !important" class="track_top track-5_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">¡Adiós Adobe! Edición fotográfica con software libre</td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color"></td>
    <td class="track_mid track-5_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/adios-adobe-edicion-fotografica-con-software-libre" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrN" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-5_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:50-17:15</td>
    <td class="track_top track-1_color">José Manrique López de la Fuente</td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Niko</td>
    <td style="border-top: none !important" class="track_top track-5_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Intentado ganar dinero haciendo software libre</td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Redes sociales para una transición social</td>
    <td class="track_mid track-5_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/intentado-ganar-dinero-haciendo-software-libre" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrR" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"></td>
    <td class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#redes-sociales-transicion-social" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrn" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-5_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">17:15-17:30</td>
    <th class="header" colspan="5">DESCANSO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">17:30-17:55</td>
    <td class="track_top track-1_color">Mario García</td>
    <td class="track_top track-2_color">Lorenzo Carbonell</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-4_color">Dario Castañé</td>
    <td class="track_top track-5_color">Andrés Ortiz</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Entornos de desarrollo con Vagrant</td>
    <td class="track_mid track-2_color">Aplicaciones nativas en GNU/Linux con JavaScript y Gtk+ (cont.)</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-4_color">Libertad para compartir</td>
    <td class="track_mid track-5_color">Iniciación al desarrollo de juegos con Godot (cont.)</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/entornos-de-desarrollo-con-vagrant" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JrS" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/talleres/aplicaciones-nativas-gnu-linux-javascript-gtk+" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jra" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#libertar-para-compartir" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jro" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/libertad-para-compartir.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-5_color"><a href="https://propuestas-godot.eslib.re/2021/talleres/iniciacion-desarrollo-juegos-con-godot" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrr" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">17:55-18:20</td>
    <td class="track_top track-1_color">
      <div>Alejandro Rodríguez Antolín<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Laboratorio portable de creación y producción sonora el proyecto AudioFLOSS<br><br></div>
      <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/laboratorio-portable-creacion-produccion-sonora-audiofloss" target="_blank"><img
            src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4JrT" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="/2021/presentaciones/laboratorio-portable-creacion-produccion-sonora-audiofloss.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-4_color">
      <div>Inés Binder y Santiago García Gago<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Politizar la tecnología: radios comunitarias y derecho a la comunicación en los territorios digitales<br><br></div>
      <div class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre#politizar-la-tecnologia" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4Jrp" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td style="border-top: none !important" class="track_top track-5_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">Jorge Aguilera<br><br></div>
      <div>Transformando open data en un static site con Groovy y Antora<br><br></div>
      <div style="vertical-align: text-top; text-align: center; border-top: none; border-color: #ffffff;" class="track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/transformando-opendata-static-site-groovy-antora" target="_blank"><img
            src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4JrU" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-4_color"></td>
    <td class="track_mid track-5_color"></td>
  </tr>
  <tr>
    <td style="padding-bottom: 0 !important" class="track_bot track-1_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot track-2_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot reunion_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot track-4_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot track-5_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">18:20-18:45</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-4_color">Lorena Sánchez</td>
    <td class="track_top track-5_color">Juan José Ramos Muñoz</td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-4_color">Software Libre en la Administración Pública: lo que pudo ser y no fue</td>
    <td class="track_mid track-5_color">M.A.T.I.L.D.A., un videojuego para la docencia de redes de computadores</td>
  </tr>
  <tr>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-4_color"><a href="https://interferencias.tech/eslibre/#software-libre-administracion-publica" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jrq"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/software-libre-administracion-publica.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-5_color"><a href="https://propuestas-godot.eslib.re/2021/charlas/matilda-videojuego-docencia-redes-computadores" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jrs"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">19:00-19:45</td>
    <td class="plenary" colspan="5">EVENTO SOCIAL ONLINE<br><br>
    </td>
  </tr>
</table>
<br><br>
<table class="tg t_schedule">
  <tr>
    <th class="hour empty"></th>
    <th class="header" colspan="7">SÁBADO 26 DE JUNIO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty">09:45-10:00</td>
    <td class="start" colspan="7">PRESENTACIÓN DE LA JORNADA<br><br>
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">10:00-11:00</td>
    <td class="plenary" colspan="7">SESIÓN PLENARIA:<br><br>RUBÉN GÓMEZ ANTOLÍ<br>"EL SOFTWARE LIBRE FRENTE A SUS RETOS: UNA VISIÓN DESDE LA EXPERIENCIA"<br><br>
      <a href="https://propuestas.eslib.re/2021/charlas/software-libre-frente-retos" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jru" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="time empty"></td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 10em">esLibre: Pista I</p>
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 10em">esLibre: Pista II</p>
      </a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 7em">Software Libre y Cultura Libre en la Universidad</p>
        <a href="https://propuestas.eslib.re/2021/salas/software-libre-cultura-libre-en-la-universidad" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">MÁLAGA SCALA DEVELOPERS / LIBRELABGRX</p>
        <p style="margin-bottom: 0.5em">Aλhambra Day: Programación funcional para todo el mundo</p>
        <a href="https://librelabgrx.cc/sala-lambda-alhambra/" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">LABORATORIO DE LA SOCIEDAD DIGITAL</p>
        <p style="margin-bottom: 2em">EWOK: Education With Open Knowledge</p>
        <a href="https://propuestas.eslib.re/2021/salas/ewok-education-with-open-knowledge" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">RAKU & PERL MONGERS</p>
        <p style="margin-bottom: 6.5em">Raku & friends</p>
        <a href="https://propuestas.eslib.re/2021/salas/raku-and-friends" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">
        <p style="margin-bottom: 0.5em">ANDALUGEEKS</p>
        <p style="margin-bottom: 5em">Tecnología para el fomento de la lengua andaluza</p>
        <a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:00-11:25</td>
    <td class="track_top track-1_color">Samuel Iglesias Gonsálvez</td>
    <td class="track_top track-2_color">Juan Félix Mateos Barrado</td>
    <td class="track_top track-3_color">RELATO COLABORATIVO: ¿Cómo promover el Software Libre en la Universidad?</td>
    <td class="track_top track-4_color">
      <div>PRESENTACIÓN "Aλhambra Day"<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Dawid Furman<br><br></div>
      <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-4_color">
        <a href="https://librelabgrx.cc/sala-lambda-alhambra/" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4JsG" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-7_color">Sergio Soto</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Introducción a Mesa</td>
    <td class="track_mid track-2_color">myIoT: una plataforma de Internet de las cosas de código libre en procomún</td>
    <td class="track_mid track-3_color">Dinamizan:<br>Paula de la Hoz<br>Germán Martínez</td>
    <td class="track_mid track-4_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">Daniel Trujillo Viedma<br><br></div>
      <div>How to structure an interactive program: how I reinvented the Elm architecture</div>
    </td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color">Aprende Andalûh, con software libre</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/introduccion-a-mesa" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrw" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/introduccion-a-mesa.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/myiot-plataforma-internet-de-las-cosas-codigo-libre-procomun" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4Js7" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/myiot-plataforma-internet-de-las-cosas-codigo-libre-procomun.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"><a href="https://propuestas.eslib.re/2021/salas/software-libre-cultura-libre-en-la-universidad#formato" target="_blank"><img src="/2019/assets/icons/info-solid.svg"
          height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/how-to-structure-interactive-program-elm" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JsH" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/how-to-structure-interactive-program-elm.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#presentacion" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jsc"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:25-11:50</td>
    <td class="track_top track-1_color">
      <div>Pablo Gutiérrez Toral<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Calendario Científico Escolar<br><br></div>
      <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/calendario-cientifico-escolar" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
            width="20"></a> &nbsp;
        <a href="https://w.wiki/4Jrx" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="/2021/presentaciones/calendario-cientifico-escolar.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_top track-2_color">Andros Fenollosa Hurtado</td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Juan Julián Merelo</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-7_color">J. Félix Ontañón</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">Jorge Aguilera<br><br></div>
      <div>API Calendario Científico<br><br></div>
      <div class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/api-calendario-cientifico" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4Jrx" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_mid track-2_color">Glosa, comentarios para sitios estáticos</td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Does it come in functional? Yes it does! Raku and functional programming</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color">El kit de desarrollo Andalûh SDK</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"></td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/glosa-comentarios-sitios-estaticos-opensource" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Js8"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/raku-functional-programming" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsJ"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#presentacion" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jsd" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">11:50-12:15</td>
    <td class="track_top track-1_color">Pablo Martínez Schroder</td>
    <td class="track_top track-2_color">Antonio Montes de Miguel</td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Pedro Bonilla Nadal</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-7_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Una introducción a OpenStack controla tu cloud privada</td>
    <td class="track_mid track-2_color">Creación de recursos espaciales de aprendizaje XR con FLOSS</td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Cálculo lambda y lógica intuicionista</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/introduccion-openstack-controla-tu-cloud-privada" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jry"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/creacion-recursos-espaciales-aprendizaje-xr-floss" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Js9"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/creacion-recursos-espaciales-aprendizaje-xr-floss.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/calculo-lambda-logica-intuicionista" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JsK" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-7_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">12:15-12:30</td>
    <th class="header" colspan="7">DESCANSO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">12:30-12:55</td>
    <td class="track_top track-1_color">Paula de la Hoz</td>
    <td class="track_top track-2_color">David Vaquero Santiago</td>
    <td class="track_top track-3_color">REFLEXIÓN / DISCUSIÓN ABIERTA: ¿Cómo promover el Software Libre en la Universidad?</td>
    <td class="track_top track-4_color">Filis Futsarov y Dawid Furman</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-7_color">Nono Feui</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Arte+Tecnología (libre)</td>
    <td class="track_mid track-2_color">DockerDrupal Workflow, un entorno de desarrollo para Drupal</td>
    <td class="track_mid track-3_color">Moderan:<br>Paula de la Hoz<br>Germán Martínez</td>
    <td class="track_mid track-4_color">PHP desde lo funcional over lemons</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color">Repaso al impacto del Andalûh en la cultura</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/arte-tecnologia-libre" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Js2" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/talleres/dockerdrupalworkflow-entorno-desarrollo-drupal" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4JsA" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"><a href="https://propuestas.eslib.re/2021/salas/software-libre-cultura-libre-en-la-universidad#formato" target="_blank"><img src="/2019/assets/icons/info-solid.svg"
          height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/php-funcional-over-lemons" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsL"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#impacto" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jse"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">12:55-13:20</td>
    <td class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Ju Liu</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-7_color">Ana Aguilar y Andrés Padilla</td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Serving millions of users with Elm</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color">N'andalûh Fansub</td>
  </tr>
  <tr>
    <td class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/serving-millions-users-elm" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsM"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#impacto" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20"
          width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jsf" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">13:20-13:45</td>
    <td class="track_top track-1_color">Eduardo Collado Cabeza</td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top track-3_color"></td>
    <td class="track_top track-4_color">Maciej Gorywoda</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-7_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Censura en Internet usando el SNI en España</td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid track-3_color"></td>
    <td class="track_mid track-4_color">Scala on Android</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-7_color">
      <div style="border-bottom-style: solid; border-width: 1px;" class="track_bot track-7_color"></div>
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px; padding-top: 20px;">Victor Manuel Clavijo<br><br></div>
      <div>Arxibo Luçero<br><br></div>
      <div class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#impacto" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jsg"
          target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/censura-internet-usando-sni-espana" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Js3"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"></td>
    <td class="track_bot track-3_color"></td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/scala-on-android" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsN"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-7_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">13:45-15:00</td>
    <th class="header" colspan="7">COMIDA</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty">15:00-16:00</td>
    <td class="plenary" colspan="7">SESIÓN PLENARIA:<br><br>LUIS FALCÓN<br>GNU HEALTH COMO MODELO DE SOFTWARE LIBRE EN EL SISTEMA DE SALUD PÚBLICA<br><br>
      <a href="https://propuestas.eslib.re/2021/charlas/gnu-health-software-libre-salud-publica" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Jrv" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:00-16:25</td>
    <td class="track_top track-1_color">David Moreno Lumbreras, Andrea Villaverde Hernández y Almudena Vázquez de Miguel</td>
    <td class="track_top track-2_color">Fabio Durán Verdugo, Alejandro Valdés Jiménez, Matías Rojas-Tapia y Daniel Galleguillos Cruz</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-4_color">Jens Grassel</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">BabiaXR: Visualización de datos en realidad virtual</td>
    <td class="track_mid track-2_color">Handibox: una herramienta para integrar personas con problemas motores</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-4_color">Functional programming in practice: a journey</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/babiaxr-visualizacion-datos-realidad-virtual" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Js4"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/babiaxr-visualizacion-datos-realidad-virtual.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/handibox-herramienta-integrar-personas-problemas-motores" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JsB" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot track-4_color"><a href="https://propuestas-lambda-alhambra.librelabgrx.cc/2021/charlas/functional-programming-in-practice" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a
        href="https://w.wiki/4JsQ" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:25-16:50</td>
    <td class="track_top track-1_color">Rafael Aybar Segura</td>
    <td class="track_top track-2_color">Lorenzo Carbonell</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-6_color">
      <div>PRESENTACIÓN "Raku & Friends"<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">JJ Merelo<br><br></div>
      <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-6_color">
        <a href="https://propuestas.eslib.re/2021/salas/raku-and-friends" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">Introducción a los sistemas de CI/CD</td>
    <td class="track_mid track-2_color">Hacia el minimalismo, la personalización y los entornos altamente productivos: gestores de ventanas tipo mosaico</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-6_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">Cecilia Merelo<br><br></div>
      <div>Vue + Raku: a new facade</div>
    </td>
    <td class="track_mid reunion_color"></td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/introduccion-sistemas-ci-cd" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4Js5" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/gestores-ventanas-mosaico" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JsC" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-6_color"><a href="https://propuestas.eslib.re/2021/salas/raku-and-friends#vue+raku" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JsR" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">16:50-17:15</td>
    <td class="track_top track-1_color">Juan Febles</td>
    <td class="track_top track-2_color">Victor Suarez</td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-6_color"></td>
    <td class="track_top track-7_color">J. Félix Ontañón</td>
  </tr>
  <tr>
    <td class="track_mid track-1_color">ffmpeg el comando único multimedia para controlarlo todo</td>
    <td class="track_mid track-2_color">Desarrollo de juegos retro con herramientas libres</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-6_color">
      <div style="border-bottom-style: solid; border-width: 1px;" class="track_bot track-6_color"></div>
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px; padding-top: 20px;">Joelle Maslak<br><br></div>
      <div>Designing a ‘In-Meeting’ indicator with Raku</div>
    </td>
    <td class="track_mid track-7_color">Desarrollo de extensiones para LibreOffice</td>
  </tr>
  <tr>
    <td class="track_bot track-1_color"><a href="https://propuestas.eslib.re/2021/charlas/ffmpeg-comando-unico-multimedia-controlarlo-todo" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Js6"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/ffmpeg-comando-unico-multimedia-controlarlo-todo.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/charlas/desarrollo-retro-herramientas-libres" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsD"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="/2021/presentaciones/desarrollo-retro-herramientas-libres.pdf" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-6_color"><a href="https://propuestas.eslib.re/2021/salas/raku-and-friends#designing-in-meeting-indicator" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsS"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#talleres" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jsh"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">17:15-17:30</td>
    <th class="header" colspan="7">DESCANSO</th>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">17:30-17:55</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-2_color">Juan Félix Mateos Barrado</td>
    <td class="track_top reunion_color"></td>
    <td class="track_top reunion_color"></td>
    <td class="track_top track-5_color">Jorge Lobo</td>
    <td class="track_top track-6_color">Paula de la Hoz</td>
    <td class="track_top track-7_color">AndaluGeeks</td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color">myIoT: Integración bidreccional de dispositivos LoRaWAN con The Things Network</td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-5_color">Robótica educativa e inteligencia artificial con Echidna y LMLEchidna</td>
    <td class="track_mid track-6_color">Malware analysis scripting with Raku</td>
    <td class="track_mid track-7_color">Experimentos en curso: machine learning, text-to-speech</td>
  </tr>
  <tr>
    <td style="border-bottom-style: hidden !important;" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"><a href="https://propuestas.eslib.re/2021/talleres/myiot-integracion-bidreccional-dispositivos-lorawan-the-things-network" target="_blank"><img
          src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
      <a href="https://w.wiki/4JsF" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td class="track_bot track-5_color"><a href="https://propuestas-ewok.eslib.re/2021/charlas/robotica-educativa-e-inteligencia-artificial-con-echidna+lmlechi" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a>
      &nbsp; <a href="https://w.wiki/4JsX" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-6_color"><a href="https://propuestas.eslib.re/2021/salas/raku-and-friends#malware-analysis-scripting" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsT"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
    <td class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#cfd" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jsi"
        target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
    </td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">17:55-18:20</td>
    <td style="border-top-style: hidden !important;" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-5_color">
      <div>Marta Serrano<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Mapatón aprendizaje servicio con Cruz Roja a través de Missing Maps y OpenStreetMaps<br><br>
        <div>
          <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-5_color"><a href="https://propuestas-ewok.eslib.re/2021/charlas/mapaton-aprendizaje-servicio-cruz-roja-missing-maps-osm" target="_blank"><img
                src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
            <a href="https://w.wiki/4JsY" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
          </div>
    </td>
    <td class="track_top track-6_color">
      <div>Liz Mattijsen<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Sigils: once you know them, you’ll love them in the Raku programming language<br><br>
        <div>
          <div class="track_bot track-6_color"><a href="https://propuestas.eslib.re/2021/salas/raku-and-friends#sigils-raku" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsU"
              target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
          </div>
    </td>
    <td class="track_top track-7_color">
      <div>AndaluGeeks<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Lluvia de ideas: diccionario, repositorio de voces, corrector ortográfico, plugins para WordPress...<br><br>
        <div>
          <div class="track_bot track-7_color"><a href="https://propuestas.eslib.re/2021/salas/tecnologia-fomento-lengua-andaluza#cfd" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4Jsi"
              target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
          </div>
    </td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-5_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">Rosalía Rozalén<br><br></div>
      <div>Traducción colaborativa de Medieval Hackers de Kathleen E. Kennedy<br><br></div>
      <div style="vertical-align: text-top; text-align: center; border-top: none; border-color: #ffffff;" class="track-5_color"><a href="https://propuestas-ewok.eslib.re/2021/charlas/traduccion-colaborativa-medieval-hackers" target="_blank"><img
            src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4JsZ" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_mid track-6_color"></td>
    <td class="track_mid track-7_color"></td>
  </tr>
  <tr>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-2_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="border-bottom: none !important" class="track_bot reunion_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot track-5_color"></td>
    <td class="track_bot track-6_color"></td>
    <td style="border-bottom: none !important" class="track_bot track-7_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty" rowspan="3">18:20-18:45</td>
    <td style="border-top-style: hidden !important;" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top track-2_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td style="border-top: none !important" class="track_top reunion_color"></td>
    <td class="track_top track-5_color">
      <div>Rafael Conde Melguizo<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">Editatón en Wikipedia de mujeres tipógrafas<br><br>
        <div>
          <div style="border-bottom-style: solid; border-width: 1px" class="track_bot track-5_color"><a href="https://propuestas-ewok.eslib.re/2021/charlas/editaton-wikipedia-mujeres-tipografas" target="_blank"><img
                src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
            <a href="https://w.wiki/4Jsa" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
          </div>
    </td>
    <td class="track_top track-6_color">
      <div>Clifton Wood<br><br></div>
      <div style="text-align: right; font-weight: bold; font-style: italic; font-size: 14px;">A pattern for creating NativeCall bindings<br><br>
        <div>
          <div class="track_bot track-6_color"><a href="https://propuestas.eslib.re/2021/salas/raku-and-friends#pattern-nativecall-bindings" target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp; <a href="https://w.wiki/4JsV"
              target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
          </div>
    </td>
    <td style="border-top: none !important" class="track_top track-7_color"></td>
  </tr>
  <tr>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-2_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid reunion_color"></td>
    <td class="track_mid track-5_color">
      <div style="text-align: left; font-weight: bold; font-style: normal; font-size: 14px;">David Alonso Urbano<br><br></div>
      <div>Scratch como herramienta para la enseñanza de la programación en la educación primaria<br><br></div>
      <div style="vertical-align: text-top; text-align: center; border-top: none; border-color: #ffffff;" class="track-5_color"><a href="https://propuestas-ewok.eslib.re/2021/charlas/scratch-herramienta-ensenanza-programacion-educacion-primaria"
          target="_blank"><img src="/2019/assets/icons/info-solid.svg" height="20" width="20"></a> &nbsp;
        <a href="https://w.wiki/4Jsb" target="_blank"><img src="/2019/assets/icons/video-solid.svg" height="20" width="20"></a> &nbsp;
      </div>
    </td>
    <td class="track_mid track-6_color"></td>
    <td class="track_mid track-7_color"></td>
  </tr>
  <tr>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot track-2_color"></td>
    <td class="track_bot reunion_color"></td>
    <td class="track_bot reunion_color"></td>
    <td style="padding-bottom: 0 !important" class="track_bot track-5_color"></td>
    <td class="track_bot track-6_color"></td>
    <td class="track_bot track-7_color"></td>
  </tr>
  <tr>
    <td class="hour hour-borders empty">19:00-19:45</td>
    <td class="plenary" colspan="7">ACTO DE CLAUSURA<br>
      <a href="https://w.wiki/4Jsk" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      <br>
    </td>
  </tr>
</table>
<br><br>
<img style="display: block; margin-left: auto; margin-right: auto;" src="/2021/assets/imgs/banner_anuncio.png" alt="Logo esLibre">
