---
layout: 2021/default
section: propuestas
title: Envío de propuestas esLibre 2021 - Propuesta recibida
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: ¡¡¡Propuesta recibida!!!</h1>

<p style="text-align: center;">
  <strong>¡Muchas gracias por tu propuesta para la edición virtual de <strong>es<span class="red">Libre</span></strong> 2021 que estamos organizando otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Recuerda que este año <strong>el congreso se celebrará los días 25 y 26 de junio</strong> y que <strong>el programa final se publicará el 11 de junio</strong>, pero que no vas a tener que esperar tanto para saber si <strong>tu propuesta</strong> ha
  sido aceptada: <strong>en cuanto reciba 3 votos positivos por parte de la organización estará oficialmente aceptada</strong>.<br><br>

  En cualquier caso, no pierdas de vista <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">tu propuesta en nuestro repositorio</a> por si hubiera algún comentario o pregunta<br>(el enlace que te debería haber llegado por correo te
  llevará directamente a ella).<br><br>

  Una vez sea aceptada de forma definitiva podrás encontrarla en la <a href="https://propuestas.eslib.re/2021/">página de propuestas</a>.
</p>

<h3 style="padding-top: 20px; text-align: center;">¡¡¡HASTA PRONTO!!!<br>👏👏👏</h3>
