---
layout: 2022/default
section: formulario
title: Propón sede para esLibre 2022
description: Propón sede para esLibre 2022
---

<h1 class="mt-3 mb-3 text-center"><strong>Propón sede para es<span class="red">Libre</span> 2022</strong></h1>

<p align="center">
  <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2022/propuesta-sede/">propuesta de sede</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-venues" role="form" action="https://edp.eslib.re/form/venues-es" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Todos los campos son obligatorios, pero la información se podrá modificar una vez enviada</li>
        <li>Una vez enviada la propuesta, mientras que es revisada se podrá encontrar en <a href="https://gitlab.com/eslibre/coord/-/merge_requests?scope=all&state=opened&label_name[]=propuestas-2022" target="_blank">esta página</a></li>
        <li>Recuerda que para cualquier duda puedes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>

    <div class="form-group">
      <strong><label for="name">Nombre del equipo:</label></strong>
      <div id="name-counter-tag" class="tag is-danger">
        <span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;
      </div>
      <input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>

    <div class="form-group">
      <strong><label for="email">Email:</label></strong>
      <div id="email-counter-tag" class="tag is-danger">
        <span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;
      </div>
      <input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>

    <div class="form-group">
      <strong><label for="team">Equipo organizador local:</label></strong>
      <div id="team-counter-tag" class="tag is-danger">
        <span id="team-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="team" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;" aria-describedby="team-help-block" onkeyup="counterDisplay(this, 'team', true)" required="required" class="form-control"></textarea>
      <span id="team-help-block" class="form-text text-muted">
        Personas que lo integrarían inicialmente y un pequeño resumen de su experiencia y motivación
      </span>
    </div>

    <div class="form-group">
      <strong><label for="format">Formato del congreso:</label></strong>
      <div id="format-counter-tag" class="tag is-danger">
        <span id="format-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="format" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="format-help-block" onkeyup="counterDisplay(this, 'format', true)" required="required" class="form-control"></textarea>
      <span id="format-help-block" class="form-text text-muted">
        Ideas para adaptarlas al formato del congreso, posibilidad para la realización de un formato mixto...
      </span>
    </div>

    <div class="form-group">
      <strong><label for="diversity">Acciones para mejorar la diversidad del congreso:</label></strong>
      <div id="diversity-counter-tag" class="tag is-danger">
        <span id="diversity-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="diversity" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="diversity-help-block" onkeyup="counterDisplay(this, 'diversity', true)" required="required"
        class="form-control"></textarea>
      <span id="diversity-help-block" class="form-text text-muted">
        Comprometerse a apoyar las ideas planteadas por la organización general, ideas para mejorar este apartado...
      </span>
    </div>

    <div class="form-group">
      <strong><label for="dates">Posibles fechas:</label></strong>
      <div id="dates-counter-tag" class="tag is-danger">
        <span id="dates-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="dates" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="dates-help-block" onkeyup="counterDisplay(this, 'dates', true)" required="required" class="form-control"></textarea>
      <span id="dates-help-block" class="form-text text-muted">
        Comentar también la posibilidad de realizarlo en fin de semana completa o parcialmente.
      </span>
    </div>

    <div class="form-group">
      <strong><label for="economic">Aspectos económicos:</label></strong>
      <div id="economic-counter-tag" class="tag is-danger">
        <span id="economic-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="economic" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="economic-help-block" onkeyup="counterDisplay(this, 'economic', true)" required="required" class="form-control"></textarea>
      <span id="economic-help-block" class="form-text text-muted">
        Si se dispone de algún tipo de financiación, si se piensa buscar patrocinadores, en qué se invertirían esos recursos si se consiguieran...
      </span>
    </div>

    <div class="form-group">
      <strong><label for="facilities">Facilidades disponibles:</label></strong>
      <div id="facilities-counter-tag" class="tag is-danger">
        <span id="facilities-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="facilities" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="facilities-help-block" onkeyup="counterDisplay(this, 'facilities', true)" required="required"
        class="form-control"></textarea>
      <span id="facilities-help-block" class="form-text text-muted">
        Disponibilidad de comida o cercanía para tomar café, descuentos para trasporte, alojamientos a precios razonables cercanos a la sede del evento, infraestructura específica para realizarlo en formato mixto...
      </span>
    </div>

    <div class="form-group">
      <strong><label for="space">Planificación y uso del espacio físico:</label></strong>
      <div id="space-counter-tag" class="tag is-danger">
        <span id="space-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="space" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="space-help-block" onkeyup="counterDisplay(this, 'space', true)" required="required" class="form-control"></textarea>
      <span id="space-help-block" class="form-text text-muted">
        Características y localización del espacio en el que realizar el congreso, medios de transporte para llegar, medidas de conciliación, apoyos institucionales, actividades comunitarias...
      </span>
    </div>

    <div class="form-group">
      <strong><label for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success">
        <span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;
      </div>
      <textarea name="comments" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" required="required" class="form-control"></textarea>
      <span id="comments-help-block" class="form-text text-muted">
        Cualquier otro aspecto que comentar a la organización.
      </span>
    </div>

    <br><br>

    <div class="form-group text-center">
      <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>

<script src="/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/validation.js"></script>
