---
layout: 2020/default
section: convocatoria
title: Convocatoria de Sede esLibre 2020
---

<h1 class="mt-3">Convocatoria de Sede <strong>es<span class="red">Libre</span> 2020</strong></h1>

<p>
  <strong>es<span class="red">Libre</span></strong> es un encuentro de personas interesadas en las tecnologías libres, enfocado a compartir conocimiento y experiencia alrededor de
  las mismas: todo con la intención de crear comunidad. Después de una primera edición en Granada el 21 de Junio de 2019 con unas 50
  actividades entre charlas, talleres y mesas redondas repartidas por varios tracks y devrooms
  <a href="/2019/programa/" target="_blank">{{ site.url }}/2019/programa/</a> queremos volver a empezar la planificación
  para el año que viene, y es por eso que al igual que el año pasado lanzamos esta <strong>"Convocatoria de Sede"</strong> con el objetivo
  de recibir propuestas para <strong>esLibre 2020</strong>.
</p>

<h2 class="venue">Información necesaria:</h2>

<h3 class="venue">Equipo organizador</h3>

<p>
  El propósito de esta convocatoria es que se presenten grupos de personas que den forma a propuestas para coordinar de forma voluntaria la
  organización local del evento, por lo que para empezar, será imprescindible indicar las personas que compondrían dicho equipo.
</p>

<p>
  En esLibre no existe una <i>cúpula</i> dirigente, pero sí que existe un grupo organizador <i>general</i> que son las personas que
  estuvieron relacionadas con la organización de la pasada edición y que han presentado su interés en seguir participando activamente en las
  cuestiones organizativas.
</p>
<p>
  Las candidaturas presentadas deberían indicar la experiencia previa tanto en la organización de actividades de la misma temática, así como
  la participación en comunidades relacionadas con la difusión de las tecnologías libres y el conocimiento abierto. De igual modo, si se
  pudiera explicar a modo resumen la motivación a la hora de organizar un evento de este tipo sería de agradecer.
</p>

<h3 class="venue">Formato del congreso</h3>

<p>
  Aunque la temporización y la diversificación de las actividades se deja a criterio del equipo organizador local, sí que la estructura del
  evento debe seguir el mismo esquema que la pasada edición:
</p>
<ul>
  <li>Una serie de tracks principales que serían gestionados integramente por la organización local, contando para ello también con el apoyo
    del equipo coordinador general</li>
  <li>Posibilidad de devrooms organizadas por diferentes comunidades, comprometiéndose estas a coordinarse con la organización local para
    intentar que logísticamente todas las actividades sean lo más homogéneas posibles (pero comprendiendo que en todo momento se respetara
    su forma para las mismas)</li>
  <li>Sesiones plenarias de apertura y cierre del congreso con todos los asistentes, participantes y organizadores</li>
</ul>

<h3 class="venue">Posibles fechas</h3>

<p>
  Preferiblemente en los meses de <strong>mayo-junio-julio</strong>. Indicar también si hay la <strong>posibilidad de que el evento se
    desarrolle durante fin de semana</strong> (total o parcialmente) y si se tiene intención de que sea un único día o varias jornadas.
</p>
<p>
  Por otra parte, se deberá intentar evitar por todos los medios que la fecha elegida sea, al menos en proximidad de días, cercana a la de
  cualquier otro evento de temática similar. Otro de los puntos importantes de las comunidades es el intercambio de puntos de vista, y una
  gran forma de conseguir eso es que haya un amplio número de oportunidades de hacerlo, por lo que no entorpecernos en la organización de
  eventos pensados con tal fin es algo que debería tener un prioridad especial.
</p>

<h3 class="venue">Presupuesto económico</h3>

<p>
  La intención es que al igual que el año pasado, el evento siga siendo de asistencia gratuita. Como conocemos la dificultad de llevar a
  cabo un evento así sin coste alguno para el público, también se deberá indicar si el propio equipo organizador local tendría acceso a
  algún tipo de financiación que pudieran invertir en una mejora de alguna cuestión del evento, bien mediante un patrocinio general (que
  en el caso de ser por una empresa, esta debería no deberá tener una principal actividad que choque frontalmente con la filosofía del
  evento) o presupuestos/subvenciones de instituciones públicas.
</p>
<p>
  Si existiera la posibilidad de cubrir este punto, comentar en qué se invertiría ese presupuesto: café y/o comida, packs de bienvenida
  (camisetas, acreditaciones, recuerdo local...), cartelería y medios físicos de difusión, grabación y retransmisión de las actividades...
</p>

<h3 class="venue">Facilidades disponibles</h3>

<p>
  Hay ciertas capacidades que o bien son imprescindibles para llevar a cabo el evento o, por otra parte, facilitarían de forma considerable
  la asistencia del público interesado. Es por esto que la organización del evento debería aclarar si se tienen asumidas en el momento de
  presentar la candidatura, ya que por ejemplo, una candidatura no se podría dar como válida para presentarse si no tiene un lugar físico
  asegurado para el desarrollo del congreso (por eso es el primer punto a destacar):
</p>
<ul>
  <li>Disponibilidad de lugar físico para el desarrollo del congreso</li>
  <li>Posibilidad de catering</li>
  <li>Posibilidad de descuentos en transporte desde los diferentes puntos del país</li>
  <li>Posibilidad de alojamientos asequibles o descuentos cercanos a la sede del evento</li>
</ul>

<h3 class="venue">Aspectos logísticos</h3>

<p>
  Para facilitar la difusión del evento desde el mismo momento en el que se decida finalmente la sede es importante conocer una serie de
  detalles que seguramente serán de interés para el público interesado en asistir, además, algunos aspectos también serán de agradecer por
  los organizadores de futuras ediciones, facilitándoles su labor y ayudando a mantener la identidad que vaya adquiriendo el congreso.
</p>
<ul>
  <li>Espacios disponibles, así como la facilidad de acceso, en la propia sede para las actividades (número de salas disponibles, capacidad
    de la mismas, salón para actos de apertura y clausura)</li>
  <li>Relación con otras comunidades tecnológicas y/o divulgativas que pudieran participar</li>
  <li>Formato de las actividades: charlas y talleres (cortas/largas/diferentes niveles), uno o varios tracks, tracks específicos por
    tecnologías, propuestas de devrooms por la comunidad...</li>
  <li>Medios de transporte disponibles para llegar al lugar de la sede y facilidad para llegar a la propia sede: carretera, autobús,
    tren...</li>
  <li>Como se gestionaran las solicitudes de ponencias y las inscripciones de los asistentes</li>
  <li>Si se considera alguna forma de conciliación de familias asistentes al congreso (talleres de robótica, actividades lúdicas al aire
    libre...)</li>
  <li>Si se cuenta con el apoyo de alguna institución</li>
  <li>Planes para actividades comunitarias fuera del horario del congreso (comida/cena de la comunidad, ruta turística/culturar, salida
    nocturna...)</li>
  <li>Informe de valoración post-evento</li>
</ul>

<h3 class="venue">Lugar de la sede</h3>

<p>
  Hacer un pequeño resumen sobre la ciudad que daría sede a este evento, tanto algunas cosas que la hagan característica como aspectos que
  puedan hacerla interesante para un evento de estas características y que podría resultar especialmente llamativo a los asistentes que
  nunca hubieran estado ahí. En el mismo caso, si la propia sede del congreso tiene alguna historia o valor cultural relevante.
</p>

<h3 class="venue">Presentación de candidaturas</h3>

<p>
  Para una mayor transparencia, tenemos intención de seguir un procedimiento similar al del año pasado, pero un poco más depurado. Las
  candidaturas se presentarán mediante un <strong><i>"merge request"</i></strong> para la publicación de un documento en formato
  <strong>Markdown</strong> en la carpeta correspondiente a este año de nuestro repositorio de coordinación en GitLab:
  <a href="https://gitlab.com/eslibre/coord/tree/master/propuestas/2020" target="_blank">
    https://gitlab.com/eslibre/coord/tree/master/propuestas/2020</a>.
</p>
<p>
Se recomienda seguir la plantilla creada para tal fin: <a href="https://gitlab.com/eslibre/coord/tree/master/propuestas/2020/plantilla.md" target="_blank">
https://gitlab.com/eslibre/coord/tree/master/propuestas/2020/plantilla.md</a>. En cualquier caso, esta plantilla se debe considerar solo
eso, una recomendación de información mínima que debería presentar cualquier candidatura; por otro lado, toda información que se considere
relevante y que sea añadida en información extra, seguramente será de agradecer por la comunidad a la hora de realizar la votación para
elegir sede.
</p>
<p>
  Así, el proceso será transparente en todo momento, y si se estima que falta algo de información relevante para valorar dicha candidatura,
  también se hará público para todo el mundo, de modo que se puedan realizar las modificaciones que se estimen oportunas dentro del periodo
  establecido para la presentación.
</p>
<p>
  El último día para presentar candidaturas o modificarlas será el <strong>15 de diciembre</strong>, siendo publicada la lista de
  candidaturas definitiva nos más allá del <strong>17 de diciembre</strong>.
</p>
<p>
  Todas las candidaturas presentadas se someterán a votación pública de la comunidad en los días consecutivos a la presentación de las
  candidaturas definitivas, y así entre todos podremos elegir el lugar más idóneo para el transcurso de este evento en las mejores
  condiciones posibles.
</p>

<h3 class="venue">Código de conducta</h3>

<p>
  El código de conducta del evento se puede encontrar en <a href="/conducta/" target="_blank">{{ site.url }}/conducta/</a>.
  Este Código de Conducta es una copia directa del impresionante trabajo del Open Source Bridge, pero sustituido con nuestra información del
  evento. El original está disponible en <a href="http://opensourcebridge.org/about/code-of-conduct/" target="_blank">
    http://opensourcebridge.org/about/code-of-conduct/</a> y está liberado bajo una licencia
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank">Creative Commons Atribución-CompartirIgual 4.0
    Internacional (CC BY-SA 4.0)</a>.
</p>

<p class="venue">
  Para cualquier duda o cuestión estamos totalmente abierto a sugerencias y podéis contactarnos por correo electrónico
  <a href="mailto:{{site.mail}}">{{site.mail}}</a> y el grupo abierto de Telegram <a href="https://t.me/esLibre" target="_blank">
    https://t.me/esLibre</a>.
</p>
