---
layout: 2024/default
section: propuestas
permalink: /2024/submit/tables/
title: Proposals for tables/exhibitors - esLibre 2024
description: We want your community to have a space at the congress to make itself known.
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024 - Proposals for tables/exhibitors</h1>

<p align="center">
    <cite style="color: black;">Before submitting a proposal, please make sure you have read the information on the <a href="/2024/proposals/">"Submit a proposal"</a> page.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
    <form id="create-talks" role="form" action="https://edp.eslib.re/form/tables-en" method="post">
        <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
                <li>Fields marked with (*) are mandatory</li>
                <li>Please do not use resources from Google, Microsoft or, in general, any company with little respect for people's privacy or technological sovereignty in your proposals</li>
                <li>Remember that if you have any questions you can write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
                </ul>
            </span></div>
        <div class="form-group"><strong><label for="community_name">Community/group requesting the table (*):</label></strong>
            <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
                onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
        </div>
        <div class="form-group"><strong><label for="web">Community/group website  (*):</label></strong>
            <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
                onkeyup="counterDisplay(this, 'web', true)" required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Page with information about the community requesting space in the community table area.</span>
        </div>
        <div class="form-group"><strong><label for="community_description">Community/group info (*):</label></strong>
            <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
                style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
                id="community_description-help-block" class="form-text text-muted">Any information you would like to add about the community that will manage the table in the space provided.</span>
        </div>
        <div class="form-group"><strong><label for="mastodon">Mastodon (or other libre social networks):</label></strong>
            <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
                onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Any profile on a free social network is valid, but remember to enter the full URL so that we can also find you.</span>
        </div>
        <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
            <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
                onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Indicate only your name on Twitter.</span>
        </div>
        <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (or other forge) or general portfolio:</label></strong>
            <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="url" maxlength="255" aria-describedby="gitlab-help-block"
                onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Any collaborative coding site where you have projects you would like to share.</span>
        </div>
        <div class="form-group"><strong><label for="contact">Contact person (*):</label></strong>
            <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
                required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Person who will be in direct contact with the organising team.</span>
        </div>
        <div class="form-group"><strong><label for="email">Contact email (*):</label></strong>
            <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
                required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Mail to communicate with you (it will not be public).</span>
        </div>
        <div class="form-group"><strong><label for="comments">Comments:</label></strong>
            <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="comments" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
                aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Any other comments relevant to the organising team.</span>
        </div>
        <div class="call-outer">
            <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
                <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
                    class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;We agree to follow the <a href="/conduct" target="_blank">code of conduct
                        </a>
                        during our participation in the congress (*)</label></div>
            </div>
        </div>
        <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Submit</button></div>
    </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
