---
layout: 2022/default-en
section: propuestas
permalink: /2022/failed
title: Submission of proposals esLibre 2022 - Error
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: An error has occurred</h1>

<p style="text-align: center; padding-bottom: 15em">
  <br><br>It seems there was an error submitting the proposal.<br><br>

  Please try again in a few minutes, and if you still have any problems write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Sorry for the inconvenience.
</p>
