---
layout: 2019/default
section: programa
title: esLibre 2019 - Ramón Miranda - ¿Se puede pintar con software libre?
---

<h1 class="mt-3 mb-3">Track 2: Social (17:15 - 18:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/miranda_ramon.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Ramón Miranda: "¿Se puede pintar con software libre?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  La pintura digital ha evolucionado y creo que sería interesante hacer una retrospectiva sobre cómo hemos avanzado, por qué se han producido esos cambios y hacia donde vamos con las herramientas actuales. Puede servir para analizar qué podemos
  reforzar en los desarrollos en curso y qué estrategias podemos usar para hacer aun más potente nuestras herramientas.<br><br>
  Hablaremos de <a href="https://es.wikipedia.org/wiki/Micromecenazgo" target="_blank">crowdfunding</a>, <a href="https://www.youtube.es" target="_blank">YouTube</a>, la evolución de Internet y las redes sociales. También la importancia de nuevos
  desarrollos y el relevo generacional.<br><br>
  "Si piensas que el software libre es para hacer garabatos solamente, es que no te has actualizado desde hace años".
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquier persona interesada en la pintura digital.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Ramón Miranda</strong>, ilustrador y formador en pintura digital y técnicas clásicas que lleva usando software libre desde el 2007 (GIMP 2.4 y esos tiempos tan añorados). He colaborado con proyectos como <a href="https://www.gimp.org/"
    target="_blank">GIMP</a>, <a href="https://inkscape.org/" target="_blank">Inkscape</a>, <a href="http://mypaint.org/" target="_blank">MyPaint</a> y sobre todo
  <a href="https://krita.org/" target="_blank">Krita</a> desarrollando tutoriales y recursos.<br><br>
  <ul>
    <li><a href="https://www.ramonmiranda.com/pinceles-recursos/" target="_blank">https://www.ramonmiranda.com/pinceles-recursos/</a></li>
    <li><a href="https://www.youtube.com/user/TheShockito/" target="_blank">https://www.youtube.com/user/TheShockito/</a></li>
  </ul>
  Tengo experiencia con programas comerciales y libres lo cual me da una visión amplia de este tema. Mi última charla en el evento de <a href="https://www.opensouthcode.org/conferences/opensouthcode2019/program/proposals/245"
    target="_blank">Opensouthcode</a> en Málaga: <a href="https://www.youtube.com/watch?v=z4orwUbI-co" target="_blank">https://www.youtube.com/watch?v=z4orwUbI-co</a>.<br><br>
  <a href="https://twitter.com/ramonmva" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/ramón-miranda-b9600745/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
