---
layout: 2019/default
section: programa
title: esLibre 2019 - María Cerviño Rúa - Apps que te roban los datos* (o como no leerse la letra pequeña y pensar que todo va bien)
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(16:00 - 16:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/cervino_maria.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">María Cerviño Rúa: "Apps que te roban los datos* (o como no leerse la letra pequeña y pensar que todo va bien)"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Te espían, y se apoderan de tu información sin que lo sepas. Porque no lo sabes, ¿verdad? No te lees la letra pequeña porque eres así, vas con prisa y luego no entiendes por qué después de descargarte el sudoku para hacer un viaje a Portugal el
  señor de Internet no hace más que mandarte correos una empresa de bacalao…<br><br>
  El problema ya no es el uso descontrolado de la tecnología que hacen los humanos, ahora el verdadero drama es el uso despiadado por las empresas, extrayendo información sobre los usuarios de sus apps, creando perfiles, traficando con ellos y en
  muchas ocasiones bordendo la legalidad vigente e invadiendo nuestra intimidad. ¿Nos roban ellos o los cedemos nosotros? ¿Es delito que entren en tu casa si te dejas la puerta abierta con una señal luminosa para que entren? ¿Ha cambiado algo la
  normativa europea de protección de datos, un año después de llegar a España?<br><br>
  A estas alturas de la película es necesario ser conscientes de qué derechos tenemos a la privacidad, al anonimato, a la desconexión como usuarios de tecnología, cuales son las consecuencias (para nosotros y para ellos) de los mismos y como poder
  defendernos frente a quienes piensan que exhibirnos como monos es parte de su negocio.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="http://pablo-castro.es/" target="_blank">María Cerviño Rúa</a></strong>. Corporate lawyer.<br><br>
  <a href="https://twitter.com/Mcervinho" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/mar%C3%ADa-cervi%C3%B1o-r%C3%BAa-94b69a62/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
